{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/tipos_datos.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
{% endblock styles %}

{% block title %}
    Tipos de operadores ariméticos
{% endblock title %}

{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo"
            width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main_app:operadores' %}"><i
                            class="fas fa-undo-alt mr-2"></i>Volver</a>
                </li>
            </li>
        </ul>
    </div>
</nav>    
{% endblock headers %}


{% block content %}
    <div class="container row mx-auto">
        <div class="row mx-auto">
            <div class="col-lg-6 mx-auto part-1 p-5 mt-3">
                <h1 class="title-modul text-center"><span class="pr mr-2">1</span> Operador Suma</h1>
                <p class="text-justify">
                    El operador + suma los valores de tipo de datos numéricos.
                </p>
                <hr>
                <div class="container code mx-auto text-justify">
                    <pre>
                    <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>numero1 = 5</span>
<span id="2"><span class="pr-n mr-3">2</span>numero2 = 2</span>
<span id="3"><span class="pr-n mr-3">3</span>suma = numero1 + numero2</span>
<span id="3"><span class="pr-n mr-3">4</span>print(suma)</span>
                    </code>
                    </pre>
                </div>
    
                <div class="container code mt-2 desactivate" id="output">
                    <code class="text-justify">
                    <span class="pr-n">Salida</span> <br>
                    <span class="mt-2" style="color: black;">7</span>               
                    </code>
                </div>
                
                <div class="text-center">
                    <button class="btn botonBlue btn-sm" onclick="ShowCode()">Ejecutar codigo</button>
                </div>
    
                
            </div>
            <div class="col-lg-6 mx-auto part-1 p-5 mt-3">
                <h1 class="title-modul text-center"><span class="pr mr-2">2</span> Operador Resta</h1>
                <p class="text-justify">
                    El operador - resta los valores de tipo de datos numéricos.
                </p>
                <hr>
                <div class="container code mx-auto text-justify">
                    <pre>
                    <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>numero1 = 10</span>
<span id="2"><span class="pr-n mr-3">2</span>numero2 = 6</span>
<span id="3"><span class="pr-n mr-3">3</span>resta = numero1 - numero2</span>
<span id="3"><span class="pr-n mr-3">4</span>print(resta)</span>
                    </code>
                    </pre>
                </div>
    
                <div class="container code mt-2 desactivate" id="output2">
                    <code class="text-justify">
                    <span class="pr-n">Salida</span> <br>
                    <span class="mt-2" style="color: black;">4</span>               
                    </code>
                </div>
                
                <div class="text-center">
                    <button class="btn botonBlue btn-sm" onclick="ShowCode2()">Ejecutar codigo</button>
                </div>
    
                
            </div>
            <div class="col-lg-6 mx-auto part-1 p-5 mt-3">
                <h1 class="title-modul text-center"><span class="pr mr-2">3</span> Operador Negación</h1>
                <p class="text-justify">
                    El operador - asigna un valor negativo a un tipo de datos numéricos.
                </p>
                <hr>
                <div class="container code mx-auto text-justify">
                    <pre>
                    <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>numero1 = 10</span>
<span id="3"><span class="pr-n mr-3">2</span>numero1 = -(numero1)</span>
<span id="3"><span class="pr-n mr-3">3</span>print(numero1)</span>
                    </code>
                    </pre>
                </div>
    
                <div class="container code mt-2 desactivate" id="output3">
                    <code class="text-justify">
                    <span class="pr-n">Salida</span> <br>
                    <span class="mt-2" style="color: black;">-10</span>               
                    </code>
                </div>
                
                <div class="text-center">
                    <button class="btn botonBlue btn-sm" onclick="ShowCode3()">Ejecutar codigo</button>
                </div>
    
                
            </div>
            <div class="col-lg-6 mx-auto part-1 p-5 mt-3">
                <h1 class="title-modul text-center"><span class="pr mr-2">4</span> Operador Multiplicación</h1>
                <p class="text-justify">
                    El operador * multiplica los valores de tipo de datos numéricos.
                </p>
                <hr>
                <div class="container code mx-auto text-justify">
                    <pre>
                    <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>numero1 = 4</span>
<span id="3"><span class="pr-n mr-3">2</span>numero2 = 2</span>
<span id="3"><span class="pr-n mr-3">3</span>multi = numero1 * numero2</span>
<span id="3"><span class="pr-n mr-3">4</span>print(multi)</span>
                    </code>
                    </pre>
                </div>
    
                <div class="container code mt-2 desactivate" id="output4">
                    <code class="text-justify">
                    <span class="pr-n">Salida</span> <br>
                    <span class="mt-2" style="color: black;">8</span>               
                    </code>
                </div>
                
                <div class="text-center">
                    <button class="btn botonBlue btn-sm" onclick="ShowCode4()">Ejecutar codigo</button>
                </div>
    
                
            </div>
            <div class="col-lg-6 mx-auto part-1 p-5 mt-3">
                <h1 class="title-modul text-center"><span class="pr mr-2">5</span> Operador Exponente</h1>
                <p class="text-justify">
                    El operador ** calcula el exponente entre valores de tipo de datos numéricos.
                </p>
                <hr>
                <div class="container code mx-auto text-justify">
                    <pre>
                    <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>numero1 = 4</span>
<span id="3"><span class="pr-n mr-3">2</span>numero2 = 2</span>
<span id="3"><span class="pr-n mr-3">3</span>expo = numero1 ** numero2</span>
<span id="3"><span class="pr-n mr-3">4</span>print(expo)</span>
                    </code>
                    </pre>
                </div>
    
                <div class="container code mt-2 desactivate" id="output5">
                    <code class="text-justify">
                    <span class="pr-n">Salida</span> <br>
                    <span class="mt-2" style="color: black;">16</span>               
                    </code>
                </div>
                
                <div class="text-center">
                    <button class="btn botonBlue btn-sm" onclick="ShowCode5()">Ejecutar codigo</button>
                </div>
    
                
            </div>
            <div class="col-lg-6 mx-auto part-1 p-5 mt-3">
                <h1 class="title-modul text-center"><span class="pr mr-2">6</span> Operador división</h1>
                <p class="text-justify">
                    El operador división el resultado que se devuelve es un número real.
                </p>
                <hr>
                <div class="container code mx-auto text-justify">
                    <pre>
                    <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>numero1 = 3.5</span>
<span id="3"><span class="pr-n mr-3">2</span>numero2 = 2</span>
<span id="3"><span class="pr-n mr-3">3</span>divi = numero1 / numero2</span>
<span id="3"><span class="pr-n mr-3">4</span>print(divi)</span>
                    </code>
                    </pre>
                </div>
    
                <div class="container code mt-2 desactivate" id="output6">
                    <code class="text-justify">
                    <span class="pr-n">Salida</span> <br>
                    <span class="mt-2" style="color: black;">1.75</span>               
                    </code>
                </div>
                
                <div class="text-center">
                    <button class="btn botonBlue btn-sm" onclick="ShowCode6()">Ejecutar codigo</button>
                </div>
    
                
            </div>
            <div class="col-lg-6 mx-auto part-1 p-5 mt-3">
                <h1 class="title-modul text-center"><span class="pr mr-2">7</span> Operador división entera</h1>
                <p class="text-justify">
                    El operador división entera el resultado que se devuelve es solo la parte entera.
                </p>
                <hr>
                <div class="container code mx-auto text-justify">
                    <pre>
                    <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>numero1 = 4</span>
<span id="3"><span class="pr-n mr-3">2</span>numero2 = 2</span>
<span id="3"><span class="pr-n mr-3">3</span>divi = numero1 / numero2</span>
<span id="3"><span class="pr-n mr-3">4</span>print(divi)</span>
                    </code>
                    </pre>
                </div>
    
                <div class="container code mt-2 desactivate" id="output7">
                    <code class="text-justify">
                    <span class="pr-n">Salida</span> <br>
                    <span class="mt-2" style="color: black;">2</span>               
                    </code>
                </div>
                
                <div class="text-center">
                    <button class="btn botonBlue btn-sm" onclick="ShowCode7()">Ejecutar codigo</button>
                </div>
    
                
            </div>
            <div class="col-lg-6 mx-auto part-1 p-5 mt-3">
                <h1 class="title-modul text-center"><span class="pr mr-2">8</span> Operador Módulo</h1>
                <p class="text-justify">
                    El operador módulo no hace otra cosa que devolver el resto de la división entre los dos operandos. En el ejemplo, 7 / 2 sería 3, con 1 de resto, luego el módulo es 1.
                </p>
                <hr>
                <div class="container code mx-auto text-justify">
                    <pre>
                    <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>numero1 = 7</span>
<span id="3"><span class="pr-n mr-3">2</span>numero2 = 2</span>
<span id="3"><span class="pr-n mr-3">3</span>modulo = numero1 % numero2</span>
<span id="3"><span class="pr-n mr-3">4</span>print(modulo)</span>
                    </code>
                    </pre>
                </div>
    
                <div class="container code mt-2 desactivate" id="output8">
                    <code class="text-justify">
                    <span class="pr-n">Salida</span> <br>
                    <span class="mt-2" style="color: black;">1</span>               
                    </code>
                </div>
                
                <div class="text-center">
                    <button class="btn botonBlue btn-sm" onclick="ShowCode8()">Ejecutar codigo</button>
                </div>
    
                
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>    
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()      
</script>            
<script>
    var ShowCode = () => {
        document.getElementById('output').setAttribute('class','container code mt-2')
    }

    var ShowCode2 = () => {
        document.getElementById('output2').setAttribute('class','container code mt-2')
    }

    var ShowCode3 = () => {
        document.getElementById('output3').setAttribute('class','container code mt-2')
    }

    var ShowCode4 = () => {
        document.getElementById('output4').setAttribute('class','container code mt-2')
    }

    var ShowCode5 = () => {
        document.getElementById('output5').setAttribute('class','container code mt-2')
    }

    var ShowCode6 = () => {
        document.getElementById('output6').setAttribute('class','container code mt-2')
    }

    var ShowCode7 = () => {
        document.getElementById('output7').setAttribute('class','container code mt-2')
    }

    var ShowCode8 = () => {
        document.getElementById('output8').setAttribute('class','container code mt-2')
    }

</script>
{% endblock scripts %}
    


    