{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/teoria-index.css' %}">        
{% endblock styles %}
    


{% block title %}
    Practica con proyectos    
{% endblock title %}


{% block headers %}
    {% include 'headers/header2.html' %}        
{% endblock headers %}
    

{% block content %}
<!-- Part 1 -->
<div class="container row mx-auto p-5 mt-5 part-1">
    <div class="col-lg-6 col-md-12 text-center mt-5">
        <h1 class="display-5">SOBRE LA PRACTICA</h1>
        <div class="text text-justify mt-3">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nihil eveniet, tempora praesentium ipsum nam, atque fugiat 
                illo nesciunt eos expedita neque qui enim facilis, sapiente 
                reprehenderit sequi debitis quae molestiae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nihil eveniet, tempora praesentium ipsum nam, atque fugiat 
                illo nesciunt eos expedita neque qui enim facilis, sapiente 
                reprehenderit sequi debitis quae molestiae?
            </p>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 text-center mt-5">
        <div class="image">
            <img src="../../static/images/practica-pat-1.jpg" alt="python">
        </div>
    </div>
    <div class="col-lg-12 text-center mt-5">
        <h1 class="display-5 mt-5">PARA TENER EN CUENTA</h1>
        <div class="text text-justify mt-3">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Doloremque culpa unde impedit libero harum corrupti iure voluptatibus 
                sed consequuntur quod, obcaecati blanditiis magni recusandae sequi inventore 
                officia autem? Deleniti amet iste placeat reiciendis in obcaecati, 
                earum molestiae blanditiis a? Quibusdam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Doloremque culpa unde impedit libero harum corrupti iure voluptatibus 
                sed consequuntur quod, obcaecati blanditiis magni recusandae sequi inventore 
                officia autem? Deleniti amet iste placeat reiciendis in obcaecati, 
                earum molestiae blanditiis a? Quibusdam?
            </p>
        </div>
    </div>
</div>


<div class="container row mx-auto p-5 mt-5 part-1">
    <div class="col-lg-12 text-center mt-5">
        <h1 class="display-5">PROYECTOS</h1>
    </div>

    <div class="col-lg-4 mt-5 text-center modul">
        <a href="{% url 'proyecto1_app:proyecto1' %}" class="modulos">
            <div class="img">
                <img src="../../static/images/proyecto.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Proyecto 1</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 mt-5 text-center modul">
        <a href="{% url 'proyecto2_app:proyecto2' %}" class="modulos">
            <div class="img">
                <img src="../../static/images/proyecto.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Proyecto 2</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 mt-5 text-center modul">
        <a href="{% url 'proyecto3_app:proyecto3' %}" class="modulos">
            <div class="img">
                <img src="../../static/images/proyecto.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Proyecto 3</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 mt-5 text-center modul">
        <a href="" class="modulos">
            <div class="img">
                <img src="../../static/images/proyecto.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Proyecto 4</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 mt-5 text-center modul">
        <a href="" class="modulos">
            <div class="img">
                <img src="../../static/images/proyecto.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Proyecto 5</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 mt-5 text-center modul">
        <a href="" class="modulos">
            <div class="img">
                <img src="../../static/images/proyecto.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Proyecto 6</h1>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock content %}


    
    