{% extends 'base.html' %}

{% load static %}


{% block title %}
Proyecto2 parte - 4
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/partes.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/jquery-ui-git.js"> </script>
{% endblock styles %}


{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo" width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item desactivate" id="part2">
                <a class="nav-link" href="{% url 'proyecto2_app:part5' %}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Parte 5</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'proyecto2_app:proyecto2' %}"><i
                        class="fas fa-undo-alt mr-2"></i>Volver</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}


{% block content %}
<div class="container row mx-auto" id="statment">
    <!-- Enunciado -->
    <div class="col-lg-10 mx-auto text-center part-1 p-5 mt-3">
        <h1 class="title-modul"> Parte 4</h1>
        <hr>
        <p class="text-justify">
            En este cuarto apartado se creará la función crear_jugador, esta función se encarga de crear un jugador
            nuevo cada vez que el usuario escoja la opción 2. Esta función recibe como parámetros la lista de jugadores
            y devuelve la misma lista de jugadores pero actualizada (es decir, con el nuevo jugador registrado), en este
            apartado se tocará el tema de diccionarios, así que si usted no ha visto la parte teórica de este tema o
            siente que tiene falencias sobre este le recomendamos que mire nuevamente la teoría ya que es de suma
            importancia que entienda sobre cómo se trabajan con diccionarios en python.
        </p>
        <h1 class="title-modul">¿Como se realizara?</h1>
        <hr>
        <p class="text-justify">
            En esta función lo primero que se va hacer es pedirle al usuario que ingrese el nombre del jugador que desea
            registrar. Después se debe validar que ningún jugador esté registrado con el nombre que acabo de ingresar el
            usuario, para hacer esto se debe entender que cada elemento de la lista de jugadores corresponde a un
            diccionario que tiene como claves (‘nombre’,’partidas_ganadas’), entonces para recorrer esta lista se debe
            hacer un ciclo for, el cual va iterar entre cada uno de los elementos de la lista, de esta manera en cada
            iteración lo que se va a obtener es un diccionario que tiene como claves (‘nombre’,’partidas_ganadas’).
            Entendiendo esto lo que sigue ahora es validar si lo que hay en ‘nombre’ es igual a el nombre ingresado por
            el usuario, de ser así se va a retornar la lista de jugadores tal y como se tenía antes, (es decir sin
            ningún cambio). Si después de iterar toda la lista no se encuentra ninguna coincidencia de nombres entre los
            elementos de la lista jugadores y el nombre ingresado por el usuario, entonces significa que se puede crear
            un jugador con el nombre escogido por el usuario. Para hacer esto se va a crear un diccionario con las
            claves ‘nombre’ y ‘partidas_ganadas’ y se guarda en una variable llamada jugador, después se iguala jugador
            en la clave nombre a el nombre que el usuario ingresó, por defecto el valor de partidas_ganadas es igual a
            0. Luego se agrega a la lista de jugadores el diccionario creado (o sea el que está en la variable jugador),
            y se retorna la lista jugadores actualizada(es decir, con el nuevo jugador agregado).

        </p>

        <a class="btn btn-success mx-auto mt-3" href="#" id="go">Vamos a realizarlo</a>
    </div>
</div>
<div class="container row mx-auto mt-5 desactivate" id="codigo">
    <!-- Siguiente parte -->
    <div class="text-center col-lg-12 mx-auto my-5 desactivate" id="siguiente-ejercicio">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Felicitaciones
            <br> Puedes pasar a la siguiente parte</h1>
        <hr>

    </div>

    <!-- Codigo -->
    <div class="col-lg-6 mt-3 mx-auto bg-light">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Solución</h1>
        <div class="container code text-justify mt-2">
            <pre>
              <code class="language-python">
      <span><span class="pr-n mr-3">1</span>def crear_jugador(jugadores):</span>
      <span><span class="pr-n mr-3">2</span>    nombre = input("Ingrese nombre del jugador: ")</span>
      <span id="l1" class="linea-code"><span class="pr-n mr-3">3</span>    <span class="desactivate" id="l-1">for player in jugadores:</span></span> 
      <span><span class="pr-n mr-3">4</span>        if player['nombre'] == nombre:</span>
      <span><span class="pr-n mr-3">5</span>            print("Lo sentimos este usuario ya esta registrado")</span>
      <span id="l2" class="linea-code"><span class="pr-n mr-3">6</span>            <span class="desactivate" id="l-2">return jugadores</span></span> 
      <span id="l3" class="linea-code"><span class="pr-n mr-3">7</span>    <span class="desactivate" id="l-3">jugador = {'nombre':' ','partidas_ganadas':0}</span></span> 
      <span><span class="pr-n mr-3">8</span>    jugador['nombre'] = nombre</span>
      <span id="l4" class="linea-code"><span class="pr-n mr-3">9</span>    <span class="desactivate" id="l-4">jugadores.append(jugador)</span></span> 
      <span><span class="pr-n mr-3">10</span>  print("Jugador %s creado con exito" % (nombre))</span>
      <span><span class="pr-n mr-3">11</span>  return jugadores </span>
            </code>
          </pre>
        </div>

        <div id="botones-1" class="desactivate">
            <a href="#" class="btn botonYellow" id="explicar"><i class="fas
            fa-align-justify"></i> Explicar codigo</a>
        </div>
    </div>

    <!-- Desarrollo -->
    <div class="col-lg-5 mt-3 mx-auto bg-light" id="explicacion">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Desarrollo</h1>
        <div class="container code text-justify mt-2">
            <!-- #3 -->
            <div class="p-3 mt-3" id="1" style="width: 100%;">
                <div class="seleccion p-5" id="sel-1">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 3</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se necesita recorrer la lista jugadores con un ciclo for, ¿Cómo se haría esto?
                    </p>
                    <form action="" name="formulario1" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-1">
                            <option>Opciones</option>
                            <option>for player in range(jugadores):</option>
                            <option>for jugadores:</option>
                            <option>for player in jugadores:</option>
                            <option>for player is jugadores:</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-1">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Con el ciclo <span class="pr">for</span> se recorre una lista de elementos
                    </p>
                </div>
            </div>
            <!-- #6 -->
            <div class="p-3 mt-3 desactivate" id="2" style="width: 100%;">
                <div class="seleccion p-5" id="sel-2">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 6</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Si el nombre ingresado por el usuario ya existe se debe retornar la lista jugadores sin
                        actualizar, ¿Cómo se haría esto?
                    </p>
                    <form action="" name="formulario2" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-2">
                            <option>Opciones</option>
                            <option>return</option>
                            <option>return -1</option>
                            <option>jugadores</option>
                            <option>return jugadores</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-2">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Con la palabra reservada <span class="pr">return</span> se retorna el valor especificado.
                    </p>
                </div>
            </div>
            <!-- #7 -->
            <div class="p-3 mt-3 desactivate" id="3" style="width: 100%;">
                <div class="seleccion p-5" id="sel-3">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 7</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se debe crear un diccionario con las claves nombre (String) y partidas_ganadas(int), ¿Cómo se
                        hace esto?
                    </p>
                    <form action="" name="formulario3" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-3">
                            <option>Opciones</option>
                            <option>jugador = {'partidas_ganadas':0}</option>
                            <option>jugador = {'nombre':'','partidas_ganadas':0}</option>
                            <option>jugador = {'nombre':''}</option>
                            <option>{'nombre':'','partidas_ganadas':0}</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-3">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Hay varias formas para crear diccionarios en python, una de ellas es utilizando corchetes <span class="pr">{ }</span>, y
                        especificando dentro de ellos las claves con sus respectivos valores.

                        <span class="pr">NOTA</span>: los valores de las <span class="pr-n">claves</span> pueden ser modificadas después no importa que ya se les hayan
                        dado <span class="pr-n">valores</span> previos.
                    </p>
                </div>
            </div>
            <!-- #9 -->
            <div class="p-3 mt-3 desactivate" id="4" style="width: 100%;">
                <div class="seleccion p-5" id="sel-4">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 9</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se debe agregar a la lista jugadores el diccionario que hay en la variable jugador ¿Como se
                        agrega un valor a una lista?
                    </p>
                    <form action="" name="formulario4" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-4">
                            <option>Opciones</option>
                            <option>jugadores.append(jugador)</option>
                            <option>jugadores.append()</option>
                            <option>jugadores.open("jugador")</option>
                            <option>jugadores.add(jugador)</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-4">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Con la palabra reservada <span class="pr">append</span> se pueden agregar elementos a una lista.
                    </p>
                </div>
            </div>

            <div class="botones text-center mb-3">
                <button class="btn botonYellow" id="probar"><i class="fas
              fa-arrow-right"></i> Probar</button>
                <button class="btn botonBlue desactivate" id="siguiente"><i class="fas
              fa-arrow-right"></i> Seguir</button>
                <a id="reiniciar" href="./parte4" class="btn botonBlue" id="reiniciar"><i class='fas fa-undo-alt mr-2'></i>
                    Reiniciar</a>
            </div>
        </div>
    </div>


    <!-- Explicación -->
    <div class="col-lg-6 mt-3 mx-auto bg-light desactivate" id="explicacionCode">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Explicación</h1>
        <div class="container code text-justify mt-2" id="explain-div">
            <pre>
          <code class="language-python" id="code-add">
  <span class=""><span class="pr-n mr-3">1</span>  Se crea la función main. Con la palabra reservada "def", acompañada del nombre que se le quiera dar se pude crear una función en Python.</span>
  <span class=""><span class="pr-n mr-3">2</span>  Creamos una variable fin y la igualamos a False. <br>  <span class="pr ml-4">NOTA</span>: esta variable es la que nos va a permitir manejar el ciclo while de la linea # 5</span>
  <span class=""><span class="pr-n mr-3">3</span>  Creamos una lista donde se van a guardar los empleados registrados, la lista se llamara "lista_empleados" para evitar confusiones a la hora del desarrollo</span>
  <span class=""><span class="pr-n mr-3">4</span>  Pedimos el capital de nomina con el que se va a trabajar.</span>
  <span class=""><span class="pr-n mr-3">5</span>  Creamos un ciclo while, que nos permite hacer un ciclo infinito, que solo se detendrá cuando el usuario escoja la opción 7 <br>  <span class="pr ml-4">NOTA</span>: El ciclo while se ejecutara siempre y cuando <span class="pr">fin</span> sea diferente de True</span>
  <span class=""><span class="pr-n mr-3">6</span>  Llamamos a la función "menu()" <br>  <span class="pr ml-4">NOTA</span>: Como se menciono anteriormente, la función menu() se creara en el apartado siguientes.</span>
  <span class=""><span class="pr-n mr-3">7</span>  Una vez se muestre el menú, le pediremos al usuario que escoja una opción mostrada. La opción ingresada por el usuario se guardara en la variable "opcion"</span>
  <span class=""><span class="pr-n mr-3">8</span>  validamos si "opcion" es igual a 1</span>
  <span class=""><span class="pr-n mr-3">9</span>  validamos si "opcion" es igual a 2</span>
  <span class=""><span class="pr-n mr-3">10</span>validamos si "opcion" es igual a 3</span>
  <span class=""><span class="pr-n mr-3">11</span>validamos si "opcion" es igual a 4</span>
  <span class=""><span class="pr-n mr-3">12</span>validamos si "opcion" es igual a 5</span>
  <span class=""><span class="pr-n mr-3">13</span>validamos si "opcion" es igual a 6</span>
  <span class=""><span class="pr-n mr-3">14</span>validamos si "opcion" es igual a 7</span>
  <span class=""><span class="pr-n mr-3">15</span>Si el usuario escogió la opción 7, se muestra un mensaje de despedida</span>
  <span class=""><span class="pr-n mr-3">16</span>Como se menciono en la linea 5, el ciclo infinito solo corre siempre y cuando <span class="pr">fin</span> sea diferente de True, para terminar el ciclo, se iguala <span class="pr">fin</span> a True</span>
  <span class=""><span class="pr-n mr-3">17</span>Validamos si ninguna de las opciones fue escogida, de ser así imprimimos por pantalla un mensaje de error</span>
  <span class=""><span class="pr-n mr-3">18</span>Se hace el llamado a la función <span class="pr">main()</span> ya creada.</span>
          </code>
        </pre>
        </div>
    </div>

</div>

<div style="margin-bottom: 10%;">

</div>

{% endblock content %}

{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/proyectos/proyecto2/part4.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()      
</script>
{% endblock scripts %}