{% extends 'base.html' %}

{% load static %}


{% block title %}
Proyecto2 parte - 2
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/partes.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/jquery-ui-git.js"> </script>
{% endblock styles %}


{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo" width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item desactivate" id="part2">
                <a class="nav-link" href="{% url 'proyecto2_app:part3' %}"><i class="fa fa-arrow-right" aria-hidden="true"></i> Parte3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'proyecto2_app:proyecto2' %}"><i
                        class="fas fa-undo-alt mr-2"></i>Volver</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}


{% block content %}
<div class="container row mx-auto" id="statment">
    <!-- Enunciado -->
    <div class="col-lg-10 mx-auto text-center part-1 p-5 mt-3">
        <h1 class="title-modul"> Parte 2</h1>
        <hr>
        <p class="text-justify">
            Ahora se va a realizar la función menu(). Esta función lo que va a realizar es mostrar el menú al usuario de
            las opciones que puede escoger. Este menú tendrá las opciones de empezar un juego, crear un jugador, ver
            jugadores y salir.

        </p>
        <h1 class="title-modul">¿Como se realizara?</h1>
        <hr>
        <p class="text-justify">
            La manera en cómo se va realizar es sencilla, y exactamente igual que la función menu() del proyecto
            anterior. primero se creará la función, y se imprimirán las opciones mencionadas anteriormente.
        </p>

        <a class="btn btn-success mx-auto mt-3" href="#" id="go">Vamos a realizarlo</a>
    </div>
</div>
<div class="container row mx-auto mt-5 desactivate" id="codigo">
    <!-- Siguiente parte -->
    <div class="text-center col-lg-12 mx-auto my-5 desactivate" id="siguiente-ejercicio">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Felicitaciones
            <br> Puedes pasar a la siguiente parte</h1>
        <hr>

    </div>

    <!-- Codigo -->
    <div class="col-lg-6 mt-3 mx-auto bg-light">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Solución</h1>
        <div class="container code text-justify mt-2">
            <pre>
              <code class="language-python">
      <span id="l1" class="linea-code"><span class="pr-n mr-3">1</span><span class="desactivate" id="l-1">def menu():</span></span> 
      <span><span class="pr-n mr-3">2</span>    print("***MENU***")</span>
      <span><span class="pr-n mr-3">3</span>    print("1) Empezar juego")</span>
      <span id="l2" class="linea-code"><span class="pr-n mr-3">4</span>    <span class="desactivate" id="l-2">print("2) Crear jugador")</span></span> 
      <span><span class="pr-n mr-3">5</span>    print("3) Ver jugadores")</span>
      <span><span class="pr-n mr-3">6</span>    print("4) Salir")</span>
      <span id="l3" class="linea-code"><span class="pr-n mr-3">7</span>    <span class="desactivate" id="l-3">print("¿Que opcion desea escoger?")</span></span>       
            </code>
          </pre>
        </div>

        <div id="botones-1" class="desactivate">
            <a href="#" class="btn botonYellow" id="explicar"><i class="fas
            fa-align-justify"></i> Explicar codigo</a>
        </div>
    </div>

    <!-- Desarrollo -->
    <div class="col-lg-5 mt-3 mx-auto bg-light" id="explicacion">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Desarrollo</h1>
        <div class="container code text-justify mt-2">
            <!-- #1 -->
            <div class="p-3 mt-3" id="1" style="width: 100%;">
                <div class="seleccion p-5" id="sel-1">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 1</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se necesita crear la función del menú, ¿Cómo se haría esto?
                    </p>
                    <form action="" name="formulario1" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-1">
                            <option>Opciones</option>
                            <option>menu():</option>
                            <option>def menu(jugadores):</option>
                            <option>def menu():</option>
                            <option>def menu(opcion):</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-1">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        La palabra reservada <span class="pr">def</span>, permite declarar una función acompañado del
                        nombre de la función y paréntesis .
                    </p>
                </div>
            </div>
            <!-- #4 -->
            <div class="p-3 mt-3 desactivate" id="2" style="width: 100%;">
                <div class="seleccion p-5" id="sel-2">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 4</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Una de las opciones que se necesita imprimir es poder crear un jugador, ¿Que linea de código
                        debería venir aquí?
                    </p>
                    <form action="" name="formulario2" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-2">
                            <option>Opciones</option>
                            <option>print(2) Crear jugador)</option>
                            <option>prin("2) Crear jugador")</option>
                            <option>print("2) Crear jugador")</option>
                            <option>imprimir("2) Crear jugador")</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-2">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        La palabra reservada <span class="pr">print</span> permite imprimir por pantalla lo que se le indique en los paréntesis.
                    </p>
                </div>
            </div>
            <!-- #7 -->
            <div class="p-3 mt-3 desactivate" id="3" style="width: 100%;">
                <div class="seleccion p-5" id="sel-3">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 7</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se necesita mostrarle al usuario un mensaje de escoger una opción ¿Que debería venir aquí?
                    </p>
                    <form action="" name="formulario3" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-3">
                            <option>Opciones</option>
                            <option>print()</option>
                            <option>print("¿Que opcion desea escoger?")</option>
                            <option>print(¿Que opcion desea escoger?)</option>
                            <option>"¿Que opcion desea escoger?"</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-3">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Con <span class="pr">print</span>, se imprime el mensaje que se desea mostrar por pantalla.
                    </p>
                </div>
            </div>

            <div class="botones text-center mb-3">
                <button class="btn botonYellow" id="probar"><i class="fas
              fa-arrow-right"></i> Probar</button>
                <button class="btn botonBlue desactivate" id="siguiente"><i class="fas
              fa-arrow-right"></i> Seguir</button>
                <a id="reiniciar" href="./parte2" class="btn botonBlue" id="reiniciar"><i class='fas fa-undo-alt mr-2'></i>
                    Reiniciar</a>
            </div>
        </div>
    </div>


    <!-- Explicación -->
    <div class="col-lg-6 mt-3 mx-auto bg-light desactivate" id="explicacionCode">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Explicación</h1>
        <div class="container code text-justify mt-2" id="explain-div">
            <pre>
          <code class="language-python" id="code-add">
  <span class=""><span class="pr-n mr-3">1</span>  Se crea la función main. Con la palabra reservada "def", acompañada del nombre que se le quiera dar se pude crear una función en Python.</span>
  <span class=""><span class="pr-n mr-3">2</span>  Creamos una variable fin y la igualamos a False. <br>  <span class="pr ml-4">NOTA</span>: esta variable es la que nos va a permitir manejar el ciclo while de la linea # 5</span>
  <span class=""><span class="pr-n mr-3">3</span>  Creamos una lista donde se van a guardar los empleados registrados, la lista se llamara "lista_empleados" para evitar confusiones a la hora del desarrollo</span>
  <span class=""><span class="pr-n mr-3">4</span>  Pedimos el capital de nomina con el que se va a trabajar.</span>
  <span class=""><span class="pr-n mr-3">5</span>  Creamos un ciclo while, que nos permite hacer un ciclo infinito, que solo se detendrá cuando el usuario escoja la opción 7 <br>  <span class="pr ml-4">NOTA</span>: El ciclo while se ejecutara siempre y cuando <span class="pr">fin</span> sea diferente de True</span>
  <span class=""><span class="pr-n mr-3">6</span>  Llamamos a la función "menu()" <br>  <span class="pr ml-4">NOTA</span>: Como se menciono anteriormente, la función menu() se creara en el apartado siguientes.</span>
  <span class=""><span class="pr-n mr-3">7</span>  Una vez se muestre el menú, le pediremos al usuario que escoja una opción mostrada. La opción ingresada por el usuario se guardara en la variable "opcion"</span>
  <span class=""><span class="pr-n mr-3">8</span>  validamos si "opcion" es igual a 1</span>
  <span class=""><span class="pr-n mr-3">9</span>  validamos si "opcion" es igual a 2</span>
  <span class=""><span class="pr-n mr-3">10</span>validamos si "opcion" es igual a 3</span>
  <span class=""><span class="pr-n mr-3">11</span>validamos si "opcion" es igual a 4</span>
  <span class=""><span class="pr-n mr-3">12</span>validamos si "opcion" es igual a 5</span>
  <span class=""><span class="pr-n mr-3">13</span>validamos si "opcion" es igual a 6</span>
  <span class=""><span class="pr-n mr-3">14</span>validamos si "opcion" es igual a 7</span>
  <span class=""><span class="pr-n mr-3">15</span>Si el usuario escogió la opción 7, se muestra un mensaje de despedida</span>
  <span class=""><span class="pr-n mr-3">16</span>Como se menciono en la linea 5, el ciclo infinito solo corre siempre y cuando <span class="pr">fin</span> sea diferente de True, para terminar el ciclo, se iguala <span class="pr">fin</span> a True</span>
  <span class=""><span class="pr-n mr-3">17</span>Validamos si ninguna de las opciones fue escogida, de ser así imprimimos por pantalla un mensaje de error</span>
  <span class=""><span class="pr-n mr-3">18</span>Se hace el llamado a la función <span class="pr">main()</span> ya creada.</span>
          </code>
        </pre>
        </div>
    </div>

</div>

<div style="margin-bottom: 10%;">

</div>

{% endblock content %}

{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/proyectos/proyecto2/part2.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()      
</script>
{% endblock scripts %}