{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="{% static 'css/ejemplos.css' %}">
{% endblock styles %}

{% block title %}
Condición if - ejemplo 2
{% endblock title %}

{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo" width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'estructuras_seleccion_app:cif' %}"><i class="fas fa-undo-alt mr-2"></i>Volver</a>
            </li>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}


{% block content %}
<!-- Enunciado -->
<div class="container row mx-auto mt-5" id="enunciado">
    <div class="col-lg-12 text-center my-3 mx-auto">
        <h1 class="">Ejemplo 2</h1>
    </div>
    <div class="col-lg-6 part-1 mx-auto mt-5 p-5" style="margin-bottom: 5%; height: 100%;">
        <h1 class="title-modul text-center my-3">Enunciado</h1>
        <div class="container">
            <p>
                Una tienda de helados maneja un precio por helado de $10 pesos, se desea que su máquina de 
                helados sea automática, por lo que se require realizar un programa que pida al usuario el 
                dinero a ingresar y la máquina muestre en pantalla si se entrega o no el helado y el dinero 
                que sobra.
            </p>
        </div>
        <button class="btn btn-block botonBlue" id="start">Empezar</button>
    </div>
</div>
<!-- Codigo -->
<div class="container row mx-auto mt-5 desactivate" id="codigo">
    <div class="col-lg-5 mt-3 mx-auto bg-light">
        <h1 class="text-center mt-3 p-2" style="font-size: 20px;">Solución</h1>

        <div class="container code text-justify mt-2">
            <pre>
        <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>dinero = int(input("Ingrese el dinero: "))</span>
<span id="2"><span class="pr-n mr-3">2</span>if dinero>= 10:</span>
<span id="3"><span class="pr-n mr-3">3</span>   print("El helado fue vendido.")</span>
<span id="3"><span class="pr-n mr-3">4</span>   devueltas = dinero - 10</span>
<span id="3"><span class="pr-n mr-3">5</span>   print("Le sobran ", devueltas, "pesos.")</span>
<span id="3"><span class="pr-n mr-3">6</span>else:</span>
<span id="3"><span class="pr-n mr-3">7</span>   print("Dinero insuficiente.")</span>
        </code>
      </pre>
        </div>
        <!-- Datos -->
        <div class="container code mt-2 desactivate" id="date">
            <form class="mt-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="dato-1" placeholder="Ingrese el dinero: ">
                </div>
            </form>
        </div>

        <div class="container code mt-2 desactivate" id="output">
            <code>
        <span class="pr-n">Salida</span> <br>
        <span class="mt-2" id="salida" style="color: black;"></span>               
      </code>
        </div>

        <div class="my-5 text-justify" id="botones">
            <button id="ejecutar" class="btn btn-outline botonBlue"><i class="fas fa-play mr-2"></i> Ejecutar</button>
            <button id="seguir" class="btn btn-outline botonBlue desactivate"><i class="fas fa-play mr-2"></i>
                Seguir</button>
            <button id="explicar" class="btn btn-outline-success desactivate"><i class="fas fa-align-justify"></i>
                Explicar codigo</button>
            <a id="reiniciar" href="/if-ejemplo2" class="btn btn-outline-success desactivate"><i class='fas fa-undo-alt mr-2'></i>
                Reiniciar</a>
        </div>

    </div>
    <!-- Explicación -->
    <div class="col-lg-5 mt-3 mx-auto bg-light desactivate" id="explicacion">
        <h1 class="text-center mt-3 p-2" style="font-size: 20px;">Explicación</h1>

        <div class="container code text-justify mt-2">
            <pre>
        <code class="language-python">
<span id=""><span class="pr-n mr-3">1</span>Se pide al usuario que ingrese el dinero por teclado.</span>
<span id=""><span class="pr-n mr-3">2</span>Se comprueba si el dinero ingresado es mayor o igual a 10 pesos.</span>
<span id=""><span class="pr-n mr-3">3</span>De ser asi, se imprime un mensaje confirmando la venta.</span>
<span id=""><span class="pr-n mr-3">4</span>Al dinero ingresado se le restan los 10 pesos que cuesta el helado.</span>
<span id=""><span class="pr-n mr-3">5</span>Se imprime el valor de las devueltas que tendrá el usuario.</span>
<span id=""><span class="pr-n mr-3">6</span>Si no se cumple la condición anterior, el programa va a la opción por defecto.</span>
<span id=""><span class="pr-n mr-3">7</span>Se imprime un mensaje de error.</span>
        </code>
      </pre>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()      
</script>
<script src="{% static 'js/if/ejemplo2.js' %}"></script>
{% endblock scripts %}