{% extends 'base.html' %}

{% load static %}



{% block title %}
Proyecto1 parte - 6
{% endblock title %}



{% block styles %}
<link rel="stylesheet" href="{% static 'css/partes.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
  type="text/javascript"></script>
<script src="https://code.jquery.com/ui/jquery-ui-git.js"> </script>
{% endblock styles %}

{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo"
      width="30">
    <span id="title-navabar">Python basado en proyectos</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item desactivate" id="part">
        <a class="nav-link" href="{% url 'proyecto1_app:proyecto1-part7' %}"><i
            class="fa fa-arrow-right"
            aria-hidden="true"></i> Parte 7</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'proyecto1_app:proyecto1' %}"><i
            class="fas fa-undo-alt mr-2"></i>Volver</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock headers %}



{% block content %}
<div class="container row mx-auto" id="statment">
  <!-- Enunciado -->
  <div class="col-lg-10 mx-auto text-center part-1 p-5 mt-3">
    <h1 class="title-modul"> Parte 6</h1>
    <hr>
    <p class="text-justify">
      En esta parte 6, se va a realizar la función ver_detalle, esta función
      tiene como objetivo mostrar los detalles de un empleado: cedula, nombre,
      apellido, bonificaciones pagadas, numero de ventas realizadas, y el
      salario. Adicional a esto, se va a implementar su llamado en la función
      main.
    </p>
    <h1 class="title-modul">¿Como se realizara?</h1>
    <hr>
    <p class="text-justify">
      Similar a los apartados anteriores, esta función va a pedir la cedula del
      empleado al que se quiere ver la información, recorrerá la lista de
      empleados que se recibirá como parámetro en la función a través de un
      ciclo for, como se ha venido viendo, y validara si la cedula del empleado
      es igual a la ingresada por el usuario. Después de haber verificado que el
      empleado es el correspondiente al de la cedula, se imprimirá: cedula,
      nombre, apellido, bonificaciones pagadas, numero de ventas realizadas, y
      el salario y retornara un True. Si no se encuentra ningún empleado con la
      cedula retornara un False. En la función main, se hará el llamado a la
      función que se acaba de crear y se creara una variable estado que recibirá
      el valor booleano que devuelva dicha función.
    </p>

    <a class="btn btn-success mx-auto mt-3" href="#" id="go">Vamos a realizarlo</a>
  </div>
</div>

<div class="container row mx-auto mt-5 desactivate" id="codigo">

  <!-- Siguiente parte -->
  <div class="text-center col-lg-12 mx-auto my-5 desactivate"
    id="siguiente-ejercicio">
    <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Felicitaciones haz completado todo el proyecto 1
      <br> Pudes revisar el codigo completo oprimiendo Ver codigo final</h1>
    <hr>

  </div>

  <!-- Codigo -->
  <div class="col-lg-6 mt-3 mx-auto bg-light">
    <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Solución</h1>
    <!-- Función  -->
    <div class="container code text-justify mt-2" id="new-employee">
      <h1 class="text-center mt-5 p-2" style="font-size: 20px;color: rgba(149,
        165, 166,1);">Función ver_detalle</h1>
      <pre>
        <code class="language-python">
    <span><span class="pr-n mr-3">1</span>def ver_detalle(lista_empleados):</span>
    <span><span class="pr-n mr-3">2</span>    cc = int(input("Ingrese cedula del empleado: "))</span>
    <span id="l1" class="linea-code"><span class="pr-n mr-3">3</span>    <span class="desactivate" id="l-1">longitud_lista = len(lista_empleados)</span></span>
    <span id="l2" class="linea-code"><span class="pr-n mr-3">4</span>    <span class="desactivate" id="l-2">for i in range(longitud_lista):</span></span>
    <span><span class="pr-n mr-3">5</span>        empleado = lista_empleados[i]</span>
    <span id="l3" class="linea-code"><span class="pr-n mr-3">6</span>        <span class="desactivate" id="l-3">if (empleado[0] == cc):</span></span>
    <span><span class="pr-n mr-3">7</span>             print("----EMPLEADO-----")</span>
    <span id="l4" class="linea-code"><span class="pr-n mr-3">8</span>             <span class="desactivate" id="l-4">print("Cedula: ", empleado[0])</span></span>
    <span><span class="pr-n mr-3">9</span>             print("Nombre: ", empleado[1])</span>
    <span><span class="pr-n mr-3">10</span>           print("Apellido: ", empleado[2])</span>
    <span><span class="pr-n mr-3">11</span>           print("Bonificaciones pagadas: ", empleado[3])</span>
    <span><span class="pr-n mr-3">12</span>           print("Numero ventas: ", empleado[4])</span>
    <span id="l5" class="linea-code"><span class="pr-n mr-3">13</span>           <span class="desactivate" id="l-5">print("Salario: ", empleado[5])</span></span>
    <span><span class="pr-n mr-3">14</span>           return True</span>
    <span id="l6" class="linea-code"><span class="pr-n mr-3">15</span>    <span class="desactivate" id="l-6">return False</span></span>
    
                    </code>
              </pre>
      <div id="botones-register" class="desactivate">
        <a href="#" class="btn botonYellow" id="explicarregister"><i class="fas
            fa-align-justify"></i> Explicar codigo</a>
      </div>


    </div>

    <!-- Main -->
    <div class="container code text-justify mt-2 desactivate" id="main">
      <h1 class="text-center mt-5 p-2" style="font-size: 20px;color: rgba(149,
        165, 166,1);">Función main</h1>
      <pre>
                <code class="language-python">
    <span><span class="pr-n mr-3">1</span><span class="">def main():</span></span>
    <span><span class="pr-n mr-3">2</span>   <span>fin = False</span></span>
    <span><span class="pr-n mr-3">3</span>   <span>lista_empleados = []</span></span>
    <span><span class="pr-n mr-3">4</span>   <span>capital_nomina = int(input("Ingrese el capital de nomina: "))</span></span>
    <span><span class="pr-n mr-3">5</span>   while (fin != True):</span>
    <span><span class="pr-n mr-3">6</span>      <span>menu()</span></span>
    <span><span class="pr-n mr-3">7</span>      <span>if(opcion == 1):</span></span>
    <span><span class="pr-n mr-3">8</span>          registrar_nuevo(lista_empleados)</span>    
    <span><span class="pr-n mr-3">9</span>      <span>elif(opcion == 2):</span></span>
    <span><span class="pr-n mr-3">10</span>        <span>estado = eliminar_empleado(lista_empleados)</span></span>
    <span><span class="pr-n mr-3">11</span>        <span>if(estado == True):</span></span>
    <span><span class="pr-n mr-3">12</span>            <span>print("\nEmpleado Eliminado!!\n")</span></span>
    <span><span class="pr-n mr-3">13</span>        <span>else:</span></span>
    <span><span class="pr-n mr-3">14</span>            <span>print("\nEmpleado no Eliminado!!\n")</span></span>
    <span><span class="pr-n mr-3">15</span>    elif(opcion == 3):</span>
    <span><span class="pr-n mr-3">16</span>       <span>estado, capital_nomina = pagarnomina(lista_empleados, capital_nomina)</span></span>
    <span><span class="pr-n mr-3">17</span>       <span>if(estado == True):</span></span>
    <span><span class="pr-n mr-3">18</span>          print("\nNomina cancelada con exito!!\n")</span>
    <span><span class="pr-n mr-3">19</span>       else:</span>
    <span><span class="pr-n mr-3">20</span>          print("\nEl capital no alcanza!!\n")</span>
    <span><span class="pr-n mr-3">20</span>    elif(opcion == 4):</span>
    <span><span class="pr-n mr-3">21</span>       estado, capital_nomina = pagarbonificaciones(lista_empleados, capital_nomina)</span>
    <span><span class="pr-n mr-3">22</span>       if(estado == True):</span>
    <span><span class="pr-n mr-3">23</span>          print("\Bonificación cancelada con exito!!\n")</span>
    <span><span class="pr-n mr-3">24</span>       else:</span>
    <span><span class="pr-n mr-3">25</span>          print("\nLa bonificacion no pudo ser realizada!!\n")</span>
    <span><span class="pr-n mr-3">26</span>    elif(opcion == 5):</span>
    <span id="2l1" class="linea-code"><span class="pr-n mr-3">27</span>       <span class="desactivate" id="2l-1">estado = ver_detalle(lista_empleados)</span></span>
    <span id="2l2" class="linea-code"><span class="pr-n mr-3">28</span>       <span class="desactivate" id="2l-2">if(estado == True):</span></span>
    <span><span class="pr-n mr-3">29</span>           print("\nNo se pudo encontrar el empleado\n")</span>
    <span><span class="pr-n mr-3">30</span>    elif(opcion == 6):</span>
    <span><span class="pr-n mr-3">31</span>    elif(opcion == 7):</span>
    <span><span class="pr-n mr-3">32</span>       print("\nHasta luego\n")</span>
    <span><span class="pr-n mr-3">33</span>       fin = True</span>
    <span><span class="pr-n mr-3">34</span>    else:print("\nEscoja una opción correcta\n")</span>

                </code>
            </pre>
      <div id="botones-main" class="desactivate">
        <a href="#" class="btn botonYellow" id="explicarmain"><i class="fas
            fa-align-justify"></i> Explicar codigo</a>
      </div>
    </div>

    <div id="botones-1" class="desactivate">
      <a href="#" class="btn botonBlue desactivate" id="btn-registrar_nuevo"><i
          class="far fa-eye"></i> Ver función ver_detalle</a>

      <a href="#" class="btn botonBlue" id="btn-main"><i class="far fa-eye"></i>
        Ver función main</a>
    </div>
  </div>
  <!-- Desarrollo 1 -->
  <div class="col-lg-5 mt-3 mx-auto bg-light" id="explicacion">
    <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Desarrollo</h1>
    <div class="container code text-justify mt-2">
      <!-- #3 -->
      <div class="p-3 mt-3" id="1" style="width: 100%;">
        <div class="seleccion p-5" id="sel-1">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Linea # 3</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Se necesita obtener la longitud de la lista de empleados y guardarla
            en una variable, ¿Como se
            hace esto?
          </p>
          <form action="" name="formulario1" class="section-ejemplos mx-auto
            text-justify p-3" style="width: 75%;">
            <select class="form-control form-control-lg" id="s-1">
              <option>Opciones</option>
              <option>len(lista_empleados)</option>
              <option>longitud_lista = lista_empleados</option>
              <option>longitud_lista = len(lista_empleados)</option>
              <option>longitud_lista = len(lista_empleados[0])</option>
            </select>
          </form>
        </div>
        <div class="seleccion p-5 desactivate" id="exp-1">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Felicitaciones</h1>
          <p class="text-justify mt-3 font-weight-bold">
            La palabra reservada <span class="pr">len</span>, permite obtener el
            numero de datos o longitud de una lista
          </p>
        </div>
      </div>
      <!-- #4 -->
      <div class="p-3 mt-3 desactivate" id="2" style="width: 100%;">
        <div class="seleccion p-5" id="sel-2">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Linea # 4</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Se necesita realizar un ciclo que me recorra la lista por indice,
            ¿Que linea de código viene aquí?
          </p>
          <form action="" name="formulario2" class="section-ejemplos mx-auto
            text-justify p-3" style="width: 75%;">
            <select class="form-control form-control-lg" id="s-2">
              <option>Opciones</option>
              <option>for i range(longitud_lista):</option>
              <option>for i in range(longitud_lista):</option>
              <option>for i in range():</option>
              <option>while i in range(longitud_lista):</option>
            </select>
          </form>
        </div>
        <div class="seleccion p-5 desactivate" id="exp-2">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Felicitaciones</h1>
          <p class="text-justify mt-3 font-weight-bold">
            La palabra reservada <span class="pr">range</span>, me permite
            recorrer un ciclo <span class="pr">for</span> de
            acuerdo al rango que se le mande como parámetro, en este caso, la
            longitud de la lista de empleados
          </p>
        </div>
      </div>
      <!-- #6 -->
      <div class="p-3 mt-3 desactivate" id="3" style="width: 100%;">
        <div class="seleccion p-5" id="sel-3">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Linea # 7</h1>
          <p class="text-justify mt-3 font-weight-bold">
            En la linea anterior guardamos en la variable empleado,la información del empleado
            correspondiente al indice i de la lista, ahora se necesita validar
            que la cedula de ese empleado coincida con la cedula ingresada por
            el usuario. ¿Que linea de código vendría aquí?
          </p>
          <form action="" name="formulario3" class="section-ejemplos mx-auto
            text-justify p-3" style="width: 75%;">
            <select class="form-control form-control-lg" id="s-3">
              <option>Opciones</option>
              <option>if (empleado[0] = cc):</option>
              <option>if (empleado[] == cc):</option>
              <option>if (empleado[0]):</option>
              <option>if (empleado[0] == cc):</option>
            </select>
          </form>
        </div>
        <div class="seleccion p-5 desactivate" id="exp-3">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Felicitaciones</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Como se ha explicado en los apartados anteriores, empleado es una
            <span class="pr-n">lista</span> que contiene la información de un
            empleado, donde cada
            posición de esa lista representa un dato: cedula, nombre, apellido,
            bonificaciones pagadas, numero de ventas, y salario. Al decir
            <span class="pr-n">empleado[0]</span>, se esta accediendo al numero
            de cedula del empleado,
            el cual se compara de que sea igual a la cedula ingresada por el
            usuario.
          </p>
        </div>
      </div>
      <!-- #8 -->
      <div class="p-3 mt-3 desactivate" id="4" style="width: 100%;">
        <div class="seleccion p-5" id="sel-4">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Linea # 8</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Se necesita imprimir la cedula del empleado, ¿Como se haría esto?
          </p>
          <form action="" name="formulario4" class="section-ejemplos mx-auto
            text-justify p-3" style="width: 75%;">
            <select class="form-control form-control-lg" id="s-4">
              <option>Opciones</option>
              <option>print("Cedula: ", empleado[0])</option>
              <option>print("Cedula: ", empleado[1])</option>
              <option>print("Cedula: ", empleado[2])</option>
              <option>print("Cedula: ", empleado[3])</option>
            </select>
          </form>
        </div>
        <div class="seleccion p-5 desactivate" id="exp-4">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Felicitaciones</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Como se explico en la linea # 6 <span class="pr">empleado</span> es una lista que contiene
            la información de un empleado, al acceder a su posición 0, estamos
            obteniendo el numero de la <span class="pr-n">cedula</span>.
          </p>
        </div>
      </div>
      <!-- #13 -->
      <div class="p-3 mt-3 desactivate" id="5" style="width: 100%;">
        <div class="seleccion p-5" id="sel-5">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Linea # 13</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Se necesita imprimir el salario de un empleado, ¿Como se hace esto?
          </p>
          <form action="" name="formulario5" class="section-ejemplos mx-auto
            text-justify p-3" style="width: 75%;">
            <select class="form-control form-control-lg" id="s-5">
              <option>Opciones</option>
              <option>print("Salario: ", empleado[2])</option>
              <option>print("Salario: ", empleado[1])</option>
              <option>print("Salario: ", empleado[5])</option>
              <option>print("Salario: ", empleado[3])</option>
            </select>
          </form>
        </div>
        <div class="seleccion p-5 desactivate" id="exp-5">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Felicitaciones</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Al acceder a la posición 5 de la lista <span class="pr-n">empleado</span>,
            obtenemos el valor
            del salario del empleado
          </p>
        </div>
      </div>
      <!-- #15 -->
      <div class="p-3 mt-3 desactivate" id="6" style="width: 100%;">
        <div class="seleccion p-5" id="sel-6">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Linea # 15</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Se debe retornar un False, dado el caso de que no haya encontrado
            ningún empleado con la cedula ingresada, ¿Que linea de código
            debería venir aquí?
          </p>
          <form action="" name="formulario5" class="section-ejemplos mx-auto
            text-justify p-3" style="width: 75%;">
            <select class="form-control form-control-lg" id="s-6">
              <option>Opciones</option>
              <option>return True</option>
              <option>return False</option>
              <option>return -1</option>
              <option>return</option>
            </select>
          </form>
        </div>
        <div class="seleccion p-5 desactivate" id="exp-6">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Felicitaciones</h1>
          <p class="text-justify mt-3 font-weight-bold">
            La palabra reservada <span class="pr">return</span>, permite
            devolver el valor que se le
            especifica, en este caso un booleano <span class="pr-n">False</span>
          </p>
        </div>
      </div>

      <div class="botones text-center mb-3">
        <button class="btn botonYellow" id="probar"><i class="fas
            fa-arrow-right"></i> Probar</button>
        <button class="btn botonBlue desactivate" id="siguiente"><i class="fas
            fa-arrow-right"></i> Seguir</button>
        <a id="reiniciar" href="./parte6" class="btn botonBlue" id="reiniciar"><i
            class='fas fa-undo-alt mr-2'></i> Reiniciar</a>
      </div>

    </div>
  </div>
  <!-- Desarrollo 2 -->
  <div class="col-lg-5 mt-3 mx-auto bg-light desactivate" id="explicacion2">
    <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Desarrollo</h1>
    <div class="container code text-justify mt-2">

      <!-- Linea # 27 -->
      <div class="p-3 mt-3" id="d2-1" style="width: 100%;">
        <div class="seleccion p-5" id="sel2-1">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Linea # 27</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Se necesita hacer el llamado a la función ver_detalle, recordar, que
            esta función retorna un valor booleano que se necesita guardar en
            una variable, ¿Como se haría esto?
          </p>
          <form action="" name="formulario1" class="section-ejemplos mx-auto
            text-justify p-3" style="width: 75%;">
            <select class="form-control form-control-lg" id="s2-1">
              <option>Opciones</option>
              <option>estado = ver_detalle(lista_empleados)</option>
              <option>estado = ver_detalle()</option>
              <option>ver_detalle(lista_empleados)</option>
              <option>ver_detalle()</option>
            </select>
          </form>
        </div>
        <div class="seleccion p-5 desactivate" id="exp2-1">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Felicitaciones</h1>
          <p class="text-justify mt-3 font-weight-bold">
            La función recibe como parámetro la <span class="pr-n">lista de
              empleados</span>, y esta
            retorna un valor booleano que se guarda en una variable llamada
            <span class="pr">estado</span>
          </p>
        </div>
      </div>

      <!-- Linea # 28 -->
      <div class="p-3 mt-3 desactivate" id="d2-2" style="width: 100%;">
        <div class="seleccion p-5" id="sel2-2">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Linea # 28</h1>
          <p class="text-justify mt-3 font-weight-bold">
            Se va a validar si lo que devolvió la llamada a la función
            <span class="pr-n">ver_detalle</span> es verdadero o falso, ¿Que
            linea de código debería venir
            aquí?
          </p>
          <form action="" name="formulario1" class="section-ejemplos mx-auto
            text-justify p-3" style="width: 75%;">
            <select class="form-control form-control-lg" id="s2-2">
              <option>Opciones</option>
              <option>if(estado = True):</option>
              <option>if(!estado):</option>
              <option>if(estado == True):</option>
              <option>if(estado not True):</option>
            </select>
          </form>
        </div>
        <div class="seleccion p-5 desactivate" id="exp2-2">
          <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);"
            class="text-center mt-2">Felicitaciones</h1>
          <p class="text-justify mt-3 font-weight-bold">
            La llamada a la función <span class="pr-n">ver_detalle</span>
            devolvió un valor que se guardo
            en la variable <span class="pr">estado</span>, aquí se valida que
            <span class="pr">estado</span> sea igual a
            verdadero.
          </p>
        </div>
      </div>

      <div class="botones text-center mb-3">
        <button class="btn botonYellow" id="probar2"><i class="fas
            fa-arrow-right"></i> Probar</button>
        <button class="btn botonBlue desactivate" id="siguiente2"><i
            class="fas
            fa-arrow-right"></i> Seguir</button>
        <a id="reiniciar2" href="./parte4" class="btn botonBlue" id="reiniciar"><i
            class='fas fa-undo-alt mr-2'></i> Reiniciar</a>
      </div>

    </div>
  </div>
  <!-- Explicación 1-->
  <div class="col-lg-6 mt-3 mx-auto bg-light desactivate"
    id="explicacionCode1">
    <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Explicación</h1>
    <div class="container code text-justify mt-2" id="explain-div1">
      <pre>
            <code class="language-python" id="code-add">
      <span class=""><span class="pr-n mr-3">1</span>Definimos la función</span>
      <span class=""><span class="pr-n mr-3">2</span>Imprimimos el titulo del proyectos</span>
      <span class=""><span class="pr-n mr-3">3</span>Imprimimos la opción 1 (Registro de empleados nuevos)</span>
      <span class=""><span class="pr-n mr-3">4</span>Imprimimos la opción 2 (Eliminar un empleado)</span>
      <span class=""><span class="pr-n mr-3">5</span>Imprimimos la opción 3 (Pagar nomina)</span>
      <span class=""><span class="pr-n mr-3">6</span>Imprimimos la opción 4 (Pagar bonificaciones)</span>
      <span class=""><span class="pr-n mr-3">7</span>Imprimimos la opción 5 (Ver detalles de un empleado)</span>
      <span class=""><span class="pr-n mr-3">8</span>Imprimimos la opción 6 (Vender un carro)</span>
      <span class=""><span class="pr-n mr-3">9</span>Imprimimos la opción 7 (Salir)</span>
            </code>
          </pre>
    </div>
  </div>
  <!-- Explicación 2-->
  <div class="col-lg-6 mt-3 mx-auto bg-light desactivate"
    id="explicacionCode2">
    <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Explicación</h1>
    <div class="container code text-justify mt-2" id="explain-div">
      <pre>
            <code class="language-python" id="code-add">
      <span class=""><span class="pr-n mr-3">1</span>Definimos la función **2</span>
      <span class=""><span class="pr-n mr-3">2</span>Imprimimos el titulo del proyectos</span>
      <span class=""><span class="pr-n mr-3">3</span>Imprimimos la opción 1 (Registro de empleados nuevos)</span>
      <span class=""><span class="pr-n mr-3">4</span>Imprimimos la opción 2 (Eliminar un empleado)</span>
      <span class=""><span class="pr-n mr-3">5</span>Imprimimos la opción 3 (Pagar nomina)</span>
      <span class=""><span class="pr-n mr-3">6</span>Imprimimos la opción 4 (Pagar bonificaciones)</span>
      <span class=""><span class="pr-n mr-3">7</span>Imprimimos la opción 5 (Ver detalles de un empleado)</span>
      <span class=""><span class="pr-n mr-3">8</span>Imprimimos la opción 6 (Vender un carro)</span>
      <span class=""><span class="pr-n mr-3">9</span>Imprimimos la opción 7 (Salir)</span>
            </code>
          </pre>
    </div>
  </div>


</div>

<div style="margin-bottom: 10%;">

</div>
{% endblock content %}



{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/proyectos/proyecto1/part6.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
        hljs.initHighlightingOnLoad()      
</script>
{% endblock scripts %}
