@font-face{
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Light";
}

h1,
#title-navabar{
    font-weight: bold;
}

.part-1{
    border-radius: 40px;
    background-color: rgba(209, 216, 224,.3);
}

.image img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.img img{
    border-radius:150px;
    background-color: rgba(209, 216, 224,.3);
}

.title-modul{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #2c3e50;
}
.text{
    height: 100%; 
}

.page-footer{
    color: white;
}

.modulos .img img:hover{
    width: 180px;    
}

.pr{
    color: rgb(187, 126, 14);
}

.codigo{
    background-color: rgba(223, 230, 233,1.0); 
    width: 50%;
}

#carrousel{
    
    
    background-color: rgba(209, 216, 224,.3);
}


@media(max-width: 767px){
    .codigo{
        width: 100%;
    }

    
}