{% extends 'base.html' %}

{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/tipos_datos.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
{% endblock styles %}

{% block title %}
Condicional else
{% endblock title %}


{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo" width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'estructuras_seleccion_app:estructuras_seleccion' %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-diagram-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 11.5A1.5 1.5 0 0 1 4.5 10h1A1.5 1.5 0 0 1 7 11.5v1A1.5 1.5 0 0 1 5.5 14h-1A1.5 1.5 0 0 1 3 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1A1.5 1.5 0 0 1 9 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6h-1A1.5 1.5 0 0 1 6 4.5v-1zM7.5 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                    <path fill-rule="evenodd" d="M8 5a.5.5 0 0 1 .5.5V7H11a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 5 7h2.5V5.5A.5.5 0 0 1 8 5z"/>
                  </svg>Estructuras de selección</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'repetitivas_app:repetitivas' %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                    Siguiente Módulo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'estructuras_seleccion_app:estructuras_seleccion' %}"><i
                        class="fas fa-undo-alt mr-2"></i>Volver</a>
            </li>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}


{% block content %}
<div class="container row mx-auto">
    <!-- Que es un ciclo -->
    <div class="col-lg-6 mx-auto text-center part-1 p-5 mt-3" id="for">
        <h1 class="title-modul"><span class="pr mr-2">3.1.1</span> ¿Qué es un condicional else?</h1>
        <hr>
        <div class="text-justify mt-3">
            <p>
                Un condicional <span class="pr">else</span> se puede traducir como "sino entonces", con esto se
                le está diciendo al programa que si todas las condiciones anteriores no se cumplen, ejecute el 
                siguiente bloque de código, es decir, se toma como la opción por default del programa. Tomando
                el ejemplo anterior del condicional elif:
            </p>
            <div class="mx-auto text-justify">
                <pre>
                <code class="language-c">
Un estudiante de bachillerato quiere clasificar a las
personas en niños o jóvenes, adultos y personas de la 
tercera edad. El primer grupo está entre los 0 y 17 
años, el segundo entre los 18 y los 59 años. Y el 
último grupo, los que tienen de 60 años en adelante.
Para lograrlo, el estudiante se debe preguntar:
¿Es menor de 18?¿Está entre los 18 y los 59?¿Es mayor
de 60?
                </code>
                </pre>
            </div>
            <p>
                La respuesta es fácil, se podría hacer esta clasificación utilizando la confición if, elif y
                esta vez se agrega else. Para empezar, con el if se debe preguntar si la persona es menor de 18, si 
                la respuesta es sí, se suma uno en el grupo de jóvenes o niños, de lo contrario, con el 
                condicional elif se debe preguntar si la persona esta entre los 18 y los 59, si la respuesta es 
                verdadera, se debe sumar uno en el grupo de adultos, pero de no ser así, debe utilizarse
                la condición else, la cual por descarte y teniendo en cuenta que las dos condiciones anteriores
                no se cumplieron, asume que el resto de personas es mayor de 60 y por ende se le suma uno al grupo
                de personas de la tercera edad.
            </p>
        </div>
    </div>

    <!-- Sintaxis -->
    <div class="col-lg-6 mx-auto text-center part-1 p-5 mt-3" id="sintax">
        <h1 class="title-modul"><span class="pr mr-2">3.1.2</span> Sintaxis</h1>
        <hr>
        <div class="text-justify mt-3">
            <p>
                Teniendo un poco de idea de lo que es un condicional else a continuación se explica sobre su 
                sintaxis. Python maneja la sintaxis de este como un complemento de la condición if y elif, ya 
                que permite mejorar el control de flujo del programa y es muy sencillo implementarlo, puesto 
                que como ya se mencionó, es la opción por default y no debe contener ninguna operación lógica
                o de comparación:
            </p>

            <h1 class="title-modul" style="font-size: 15px;">Su estructura básica es:</h1>
            <div class="container code mx-auto text-justify">
                <pre>
                <code class="language-python">
    if parámetro 1 + operador lógico + parámetro 2:
        bloque de código ...

    elif parámetro 1 + operador lógico + parámetro 2:
        bloque de código ...
    
    else:
        bloque de código ...
                </code>
                </pre>
            </div>

            <p>
                Al no cumplirse las dos condiciones anteriores y no entrar a ninguno de sus bloques de código,
                el programa toma por defecto que debe seguir con la opción por default, es decir, con el código
                que se encuentra dentro del else.
            </p>
            <br>
            <ul class="container">
                <li>
                    <a href="{% url 'estructuras_seleccion_app:condicionelse' %}">Condiciones else</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>

<!-- Ejemplos -->
<div class="container row mx-auto mb-5 mt-2 part-1" id="carrousel">
    <div class="col-lg-12 text-center mt-5">
        <h1 class="display-5"> Ejemplos</h1>
        <hr>
    </div>

    <div class="col-lg-5 mx-auto" id="ejemplos">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner mx-auto text-center p-5">
                {% for i in '123456' %}
                {% if i == '1' %}
                <div class="carousel-item active">
                    <a href="{% url 'estructuras_seleccion_app:else-ejemplo1' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>
                {% else %}
                {% if i == '2' %}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:else-ejemplo2' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>
                {% elif i == '3'%}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:else-ejemplo3' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>
                {% elif i == '4'%}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:else-ejemplo4' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>
                {% elif i == '5'%}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:else-ejemplo5' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>

                {% elif i == '6'%}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:else-ejemplo6' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>

                {% endif %}

                {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


{% endblock content %}


{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()
</script>

{% endblock scripts %}