{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/primera-interfaz.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">        
{% endblock styles %}


{% block title %}
Primera Interfaz grafica    
{% endblock title %}


{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo" width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">        
        <li class="nav-item">            
            <a class="nav-link" href="/tkinter/#root"><i class="fas fa-undo-alt mr-2"></i>Volver</a>
        </li>  
      </ul>
    </div>
</nav>    
{% endblock headers %}
    


{% block content %}
<div class="container row mx-auto">
    <div class="row mx-auto">
        <!-- 1 Tk() -->
        <div class="col-lg-12 mx-auto text-center part-1 p-5 mt-3">
            <h1 class="title-modul text-center"><span class="pr mr-2">1</span> Tk()</h1>
            <p class="text-justify">
                Tk() es una función de la librería Tkinter, la cual nos representa la raíz o la iniciación de toda la interfaz grafica que se va a manejar, en otras palabras, esta función nos devolverá la pantalla principal en la cual podremos incluir algunas configuraciones e implementar algunos elementos de los mencionados anteriormente. <span class="font-weight-bold">A continuación un pequeño ejemplo:</span>
            </p>
            
            <hr>
            <div class="container code mx-auto text-justify">
                <pre>
                <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>from tkinter import *</span>
<span id="2"><span class="pr-n mr-3">2</span>root = Tk()</span>
<span id="3"><span class="pr-n mr-3">3</span>root.mainloop()</span>
                </code>
                </pre>
            </div>

            
            
            <div class="container code mt-2 desactivate" id="output">                
                <span class="pr-n">Salida</span> <br>
                <div class="text-center p-3 mx-auto salida-1">
                    <img  src="{% static 'images/Graficos/ejemplos_practicos/tkinter.png' %}" class="image-code" alt="imagen-code" >
                </div>
                <p class="text-justify mt-5" style="font-size: 80%;">
                    Como se pudo ver, se llamo a la función Tk() y la igualamos a la variable root (El nombre de la variable es un estándar, mas sin embargo no es obligatorio que se llame así, puede tener el nombre que uno desee), Después utilizamos la función mainloop() que es la que nos permite que la ventana este en ejecución y de esta manera no se cierre.
                </p>
            </div>
            
            <div class="text-center">
                <button class="btn botonBlue btn-sm" id="btn-open" onclick="ShowCode()">Ejecutar codigo</button>
                <button class="btn botonYellow btn-sm desactivate" id="btn-close" onclick="HidenCode()">Cerrar</button>
            </div>
            

            

            
        </div>

        <!-- 2 Atributos -->
        <div class="col-lg-12 col-sm-12 mx-auto text-center part-1 p-5 mt-3" id="atributos">
            <h1 class="title-modul text-center"><span class="pr mr-2">2</span> Atributos del Tk()</h1>
            <p class="text-justify" id="enunciado-items">
                Ya vimos como crear nuestra primera ventana con la función Tk(), ahora veremos como darle ciertas características a la ventana principal, asignándole una serie de atributos que permitirán personalizar un poco esta ventana root.
                <span class="font-weight-bold">A continuación se muestra los tipos de atributos que se pueden manejar para personalizar nuestra ventana principal:</span>
            </p>
            <hr>
            
            <div>
                <ul class="container text-justify" id="items">
                    <li>
                        <a href="#atributos" onclick="ShowCodeEx('1')">Agregar titulo</a>
                    </li>
                    <li>
                        <a href="#atributos" onclick="ShowCodeEx('2')">Permitir redimensionar</a>
                    </li>
                    <li>
                        <a href="#atributos" onclick="ShowCodeEx('3')">Agregar tamaño a la ventana</a>
                    </li>
                    <li>
                        <a href="#atributos" onclick="ShowCodeEx('4')">Agregar color de fondo</a>
                    </li>
                </ul>

                <div class="desactivate" id="item-1">
                    <div class="container code mx-auto text-justify">
                        <pre>
                        <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>from tkinter import *</span>
<span id="2"><span class="pr-n mr-3">2</span>root = Tk()</span>
<span id="3"><span class="pr-n mr-3">3</span>root.title("Mi ventana")</span>
<span id="4"><span class="pr-n mr-3">4</span>root.mainloop()</span>
                        </code>
                        </pre>
                    </div>
    
                    <div class="container code mt-2 desactivate" id="output2">                
                        <span class="pr-n">Salida</span> <br>
                        <div class="text-center p-3 salida-1 mx-auto">
                            <img  src="{% static 'images/Graficos/ejemplos_practicos/title.png' %}" class="image-code" alt="imagen-code">
                        </div>
                        <p class="text-justify mt-5" style="font-size: 80%;">
                            En el ejemplo podemos visualizar como aparece en la parte superior de la ventana el nombre que le pusimos con la función title
                        </p>
                    </div>
                    
                    <div class="text-center">
                        <button class="btn botonBlue btn-sm" id="btn-1"  onclick="ShowCode2()">Ejecutar codigo</button>
                        <button class="btn botonYellow btn-sm" onclick="HideCoden('1')">Cerrar</button>
                    </div>
                </div>

                <div class="desactivate" id="item-2">
                    <div class="container code mx-auto text-justify">
                        <pre>
                        <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>from tkinter import *</span>
<span id="2"><span class="pr-n mr-3">2</span>root = Tk()</span>
<span id="3"><span class="pr-n mr-3">3</span>root.resizable(True,False)</span>
<span id="4"><span class="pr-n mr-3">4</span>root.mainloop()</span>
                        </code>
                        </pre>
                    </div>
    
                    <div class="container code mt-2 desactivate" id="output3">                
                        <span class="pr-n">Salida</span> <br>
                        <div class="text-center p-3 salida-1 mx-auto">
                            <img  src="{% static 'images/Graficos/ejemplos_practicos/resizable.png' %}" class="image-code" alt="imagen-code" style="width: 100%; ">
                        </div>
                        <p class="text-justify mt-5" style="font-size: 80%;">
                            La función resizable, es la que nos permite redimensionar la pantalla y en que ejes poder redimensionar. Esta función recibe como parámetro dos valores booleanos True ó False. El primer parámetro que reciba es el que hace referencia a las ejes X y el segundo parámetro que reciba es el que hace referencia a las ejes Y. Si el parámetro es True, entonces nos permite redimensionar en ese eje, si el parámetro por el contrario es False, no nos permitirá redimensionar en ese eje. <br>
                            <span class="pr">NOTA</span>: La manera de redimensionar es con el mouse, acercar el mouse a los bordes de las pantallas y ver como le permiten redimensionar el root
                        </p>
                    </div>
                    
                    <div class="text-center">
                        <button class="btn botonBlue btn-sm " id="btn-2" onclick="ShowCode3()">Ejecutar codigo</button>
                        <button class="btn botonYellow btn-sm " onclick="HideCoden('2')">Cerrar</button>
                    </div>
                </div>

                <div class="desactivate" id="item-3">
                    <div class="container code mx-auto text-justify">
                        <pre>
                        <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>from tkinter import *</span>
<span id="2"><span class="pr-n mr-3">2</span>root = Tk()</span>
<span id="3"><span class="pr-n mr-3">3</span>root.geometry("500x500")</span>
<span id="4"><span class="pr-n mr-3">4</span>root.mainloop()</span>
                        </code>
                        </pre>
                    </div>
    
                    <div class="container code mt-2 desactivate" id="output4">                
                        <span class="pr-n">Salida</span> <br>
                        <div class="text-center p-3 salida-1 mx-auto">
                            <img  src="{% static 'images/Graficos/ejemplos_practicos/geometry.png' %}" class="image-code" alt="imagen-code" style="width: 100%; ">
                        </div>
                        <p class="text-justify mt-5" style="font-size: 80%;">
                            La función función geometry, es la encargada de permitirnos poder crear la ventana principal o el root, con las dimensiones que nosotros queramos.
                            <br>
                            <span class="pr">NOTA</span>: es importante tener en cuenta que las dimensiones deben ir como un string (entre comillas), de lo contrario nos mostrara un error.
                            
                        </p>
                    </div>
                    
                    <div class="text-center">
                        <button class="btn botonBlue btn-sm " id="btn-3" onclick="ShowCode4()">Ejecutar codigo</button>
                        <button class="btn botonYellow btn-sm " onclick="HideCoden('3')">Cerrar</button>
                    </div>
                </div>

                <div class="desactivate" id="item-4">
                    <div class="container code mx-auto text-justify">
                        <pre>
                        <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>from tkinter import *</span>
<span id="2"><span class="pr-n mr-3">2</span>root = Tk()</span>
<span id="3"><span class="pr-n mr-3">3</span>root.geometry("300x300")</span>
<span id="4"><span class="pr-n mr-3">4</span>root.config(bg="blue")</span>
<span id="4"><span class="pr-n mr-3">5</span>root.mainloop()</span>
                        </code>
                        </pre>
                    </div>
    
                    <div class="container code mt-2 desactivate" id="output5">                
                        <span class="pr-n">Salida</span> <br>
                        <div class="text-center p-3 salida-1 mx-auto">
                            <img  src="{% static 'images/Graficos/ejemplos_practicos/bg.png' %}" class="image-code" alt="imagen-code" style="width: 100%; ">
                        </div>
                        <p class="text-justify mt-5" style="font-size: 80%;">
                            config es una método que nos permite agregar muchos atributos a un elemento de Tkinter, los atributos que se pueden agregar varían dependiendo del elemento a tratar. Si se quieren mirar los atributos que posee el elemento solo basta con imprimir:
                            <br>
                            <br>
<span id="1" class="my-3"><span class="pr-n mr-3">1</span><span class="pr">print</span>(root.configure().keys())</span>

                        </p>                        
                            

                        <p class="text-justify" style="font-size: 80%;">
                            El atributo que nos interesa a nosotros para este ejemplo es el bg, que es el atributo que hace referencia al color de fondo, o en ingles Background. Este atributo nos colocara el fondo del color que le especifiquemos, en este caso es el color azul. Para conocer los distintos colores que maneja tkinter recomendamos <a href="http://www.science.smith.edu/dftwiki/index.php/Color_Charts_for_TKinter" target="_blank">leer aquí</a>.  <br> <br>
                        
                        <span class="pr">NOTA</span>: si se quiere tomar mas información acerca de los elementos y atributos de tkinter, recomendamos ver la documentación oficial de la <a href="https://docs.python.org/3/library/tk.html" target="_blank">librería</a>.                                
                        </p>                        
                    </div>
                    
                    <div class="text-center">
                        <button class="btn botonBlue btn-sm " id="btn-4" onclick="ShowCode5()">Ejecutar codigo</button>
                        <button class="btn botonYellow btn-sm " onclick="HideCoden('4')">Cerrar</button>
                    </div>
                </div>


            </div>

            
        </div>

    </div>

</div>
    
{% endblock content %}
    

{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>    
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()      
</script>
<script>
    var ShowCode = () => {
        document.getElementById('output').setAttribute('class','container code mt-2')
        document.getElementById('btn-close').setAttribute('class','btn botonYellow btn-sm')
        document.getElementById('btn-open').setAttribute('class','desactivate')

    }

    var HidenCode = () => {
        document.getElementById('output').setAttribute('class','desactivate')
        document.getElementById('btn-close').setAttribute('class','desactivate')
        document.getElementById('btn-open').setAttribute('class','btn botonBlue btn-sm')
    }

    var ShowCode2 = () => {
        document.getElementById('output2').setAttribute('class','container code mt-2')
        document.getElementById('btn-1').setAttribute('class','desactivate')
    }

    var ShowCode3 = () => {
        document.getElementById('output3').setAttribute('class','container code mt-2')
        document.getElementById('btn-2').setAttribute('class','desactivate')
    }

    var ShowCode4 = () => {
        document.getElementById('output4').setAttribute('class','container code mt-2')
        document.getElementById('btn-3').setAttribute('class','desactivate')
    }

    var ShowCode5 = () => {
        document.getElementById('output5').setAttribute('class','container code mt-2')
        document.getElementById('btn-4').setAttribute('class','desactivate')
    }

    var ShowCodeEx = (param) => {
        elemento = 'item-'+param
        
        document.getElementById('items').setAttribute('class','desactivate') //Desactivo los elementos de la lista ul        
        document.getElementById(elemento).setAttribute('class','container code mx-auto text-justify')
        document.getElementById('enunciado-items').setAttribute('class','desactivate')
        
    }

    var HideCoden = (param) => {
        elemento = 'item-'+param
        output = 'output'+(parseInt(param)+1).toString()
        boton = 'btn-'+param
        document.getElementById('items').setAttribute('class','container text-justify') //Activo los elementos de la lista ul        
        document.getElementById(elemento).setAttribute('class','container code mx-auto text-justify desactivate') //DEsactivo el codigo
        document.getElementById(output).setAttribute('class','container code mt-2 desactivate')
        document.getElementById('enunciado-items').setAttribute('class','text-justify')
        document.getElementById(boton).setAttribute('class','btn botonBlue btn-sm')
    }
</script>            
    
{% endblock scripts %}
    
        