{% extends 'base.html' %}

{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/tipos_datos.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
{% endblock styles %}

{% block title %}
Condicional if
{% endblock title %}


{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo" width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'estructuras_seleccion_app:estructuras_seleccion' %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-diagram-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 11.5A1.5 1.5 0 0 1 4.5 10h1A1.5 1.5 0 0 1 7 11.5v1A1.5 1.5 0 0 1 5.5 14h-1A1.5 1.5 0 0 1 3 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1A1.5 1.5 0 0 1 9 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6h-1A1.5 1.5 0 0 1 6 4.5v-1zM7.5 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                    <path fill-rule="evenodd" d="M8 5a.5.5 0 0 1 .5.5V7H11a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 5 7h2.5V5.5A.5.5 0 0 1 8 5z"/>
                  </svg>Estructuras de selección</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'estructuras_seleccion_app:celif' %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                    Siguiente Sección</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'estructuras_seleccion_app:estructuras_seleccion' %}"><i
                        class="fas fa-undo-alt mr-2"></i>Volver</a>
            </li>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}


{% block content %}
<div class="container row mx-auto">
    <!-- Que es un ciclo -->
    <div class="col-lg-6 mx-auto text-center part-1 p-5 mt-3" id="for">
        <h1 class="title-modul"><span class="pr mr-2">3.1.1</span> ¿Qué es un condicional if?</h1>
        <hr>
        <div class="text-justify mt-3">
            <p>
                Un condicional <span class="pr">if</span> se usa para tomar decisiones, este evalua básicamente 
                una operación lógica puesto que a partir de un valor obtenido puede realizar una comparación, 
                es decir, una operación que de como resultado True o False y dependiendo de su resultado, el 
                programa ejecuta el bloque de cógido que se enuentra dentro de él o no.
            </p>
            <div class="mx-auto text-justify">
                <pre>
                <code class="language-c">
Pedro desea salir a dar un paseo por la ciudad en
su bibicleta ya que le encanta hacer deporte, antes 
de salir el chico se asoma a la ventana y observa 
el cielo, al observarlo se da cuenta que está un 
poco oscuro y cree que va a llover, para saber si 
salir a dar su paseo o no, Pedro se hace la siguiente
pregunta:
¿Lloverá en el momento en que salga?
                </code>
                </pre>
            </div>
            <p>
                La respuesta es muy simple, aunque él podría arriesgarse a salir, podría resolver esta duda utilizando un 
                condicional if, solo basta con averiguar por internet el pronóstico del clima y allí tendrá información
                de si lloverá o no, a partir de esta podrá tomar la decisión. Si dice que va a llover, Pedro no saldrá
                de su casa y evitará mojarse. Pero si dice que no lloverá, Pedro podrá salir a disfrutar de su paseo por 
                la ciudad.
            </p>
        </div>
    </div>

    <!-- Sintaxis -->
    <div class="col-lg-6 mx-auto text-center part-1 p-5 mt-3" id="sintax">
        <h1 class="title-modul"><span class="pr mr-2">3.1.2</span> Sintaxis</h1>
        <hr>
        <div class="text-justify mt-3">
            <p>
                Teniendo un poco de idea de lo que es un condicional if ahora se explicará sobre su sintaxis. 
                Python maneja la sintaxis del condicional if de una manera muy sencilla y práctica, pues solo 
                basta con utilizar los operadores lógicos para realizar la operación de comparación:
            </p>
            <br>
            <h1 class="title-modul" style="font-size: 15px;">Su estructura básica es:</h1>
            <div class="container code mx-auto text-justify">
                <pre>
                <code class="language-python">
    if parámetro 1 + operador lógico + parámetro 2:
        bloque de código ...
                </code>
                </pre>
            </div>

            <p>
                El parámetro 1 y parámetro 2, ya sean números, palabras o cualquier otro elementos, son los que
                se van a comparar en el momento de realizar la operación y esta comparación va a depender del
                operador lógico que se esté usando, pues dependiendo de cuál sea este, así los parámetros sean
                los mismos, va a dar un resultado u otro.
            </p>
            <br>
            <ul class="container">
                <li>
                    <a href="{% url 'estructuras_seleccion_app:condicionif' %}">Condiciones if</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>

<!-- Ejemplos -->
<div class="container row mx-auto mb-5 mt-2 part-1" id="carrousel">
    <div class="col-lg-12 text-center mt-5">
        <h1 class="display-5"> Ejemplos</h1>
        <hr>
    </div>

    <div class="col-lg-5 mx-auto" id="ejemplos">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner mx-auto text-center p-5">
                {% for i in '123456' %}
                {% if i == '1' %}
                <div class="carousel-item active">
                    <a href="{% url 'estructuras_seleccion_app:if-ejemplo1' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>
                {% else %}
                {% if i == '2' %}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:if-ejemplo2' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>
                {% elif i == '3'%}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:if-ejemplo3' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>
                {% elif i == '4'%}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:if-ejemplo4' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>
                {% elif i == '5'%}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:if-ejemplo5' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>

                {% elif i == '6'%}
                <div class="carousel-item">
                    <a href="{% url 'estructuras_seleccion_app:if-ejemplo6' %}">
                        <h1 class="title-modul pr"><i class="fas fa-book-open
                                mr-2"></i> Ir al ejemplo {{ i }}</h1>
                    </a>
                </div>

                {% endif %}

                {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


{% endblock content %}


{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()
</script>

{% endblock scripts %}