{% extends 'base.html' %}

{% load static %}


{% block title %}
Proyecto3 parte - 1
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/partes.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/jquery-ui-git.js"> </script>
{% endblock styles %}


{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo" width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item desactivate" id="part2">
                <a class="nav-link" href="{% url 'proyecto3_app:part2' %}"><i class="fa fa-arrow-right"
                        aria-hidden="true"></i> Parte 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'proyecto3_app:proyecto3' %}"><i
                        class="fas fa-undo-alt mr-2"></i>Volver</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}


{% block content %}
<div class="container row mx-auto" id="statment">
    <!-- Enunciado -->
    <div class="col-lg-10 mx-auto text-center part-1 p-5 mt-3">
        <h1 class="title-modul"> Parte 1</h1>
        <hr>
        <p class="text-justify">
            Igual que como los proyectos anteriores esta primera parte empieza creando la función principal, en esta
            función se van a definir las listas de libros y prestamos que se van a manejar en todo el proyecto, similar
            a los proyectos anteriores estas se estarán enviando por parámetros a las otras funciones, en esta función
            se realizarán llamados a otras funciones por lo que si se hacen el llamado a una función que no se entienda,
            tenga en cuenta que en los apartados siguientes se explicarán en detalle.
        </p>
        <h1 class="title-modul">¿Como se realizara?</h1>
        <hr>
        <p class="text-justify">
            Lo primero que se debe hacer es crear la función main() como se ha venido haciendo en los proyecto
            anteriores. Luego se crearán dos listas una llamada libros y otra llamada prestamos, en estas listas se van
            a guardar los libros creados con diccionarios y los préstamos creados también como diccionarios, similar al
            proyecto pasado. Se creará un ciclo while infinito que permite que el software no se cierre hasta que el
            usuario lo indique, después se hace el llamado a la función menú (Imprime el menú al usuario), se le pide al
            usuario que ingrese una opción, y se hará el llamado correspondiente a la función según la opción escogida.
        </p>

        <a class="btn btn-success mx-auto mt-3" href="#" id="go">Vamos a realizarlo</a>
    </div>
</div>
<div class="container row mx-auto mt-5 desactivate" id="codigo">
    <!-- Siguiente parte -->
    <div class="text-center col-lg-12 mx-auto my-5 desactivate" id="siguiente-ejercicio">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Felicitaciones
            <br> Puedes pasar a la siguiente parte</h1>
        <hr>

    </div>

    <!-- Codigo -->
    <div class="col-lg-6 mt-3 mx-auto bg-light">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Solución</h1>
        <div class="container code text-justify mt-2">
            <pre>
              <code class="language-python">
      <span><span class="pr-n mr-3">1</span>def main():</span>
      <span id="l1" class="linea-code"><span class="pr-n mr-3">2</span>    <span class="desactivate" id="l-1">libros = []</span></span>
      <span><span class="pr-n mr-3">3</span>    prestamos = []</span>
      <span id="l2" class="linea-code"><span class="pr-n mr-3">4</span>    <span class="desactivate" id="l-2">while(True):</span></span>
      <span><span class="pr-n mr-3">5</span>        menu()</span>
      <span id="l3" class="linea-code"><span class="pr-n mr-3">6</span>        <span class="desactivate" id="l-3">op = int(input("Ingrese una opcion: "))</span></span>
      <span><span class="pr-n mr-3">7</span>        if(op==1):libros = crear_libro(libros)</span>
      <span><span class="pr-n mr-3">8</span>        elif(op==2):prestamos,libros = prestamo(libros,prestamos)</span>
      <span id="l4" class="linea-code"><span class="pr-n mr-3">9</span>        <span class="desactivate" id="l-4">elif(op==3):libros = eliminar_libros(libros)</span></span>
      <span><span class="pr-n mr-3">10</span>      elif(op==4):ver_libros(libros)</span>
      <span><span class="pr-n mr-3">11</span>      elif(op==5):ver_prestamos(prestamos)</span>
      <span><span class="pr-n mr-3">12</span>      elif(op==6):</span>
      <span><span class="pr-n mr-3">13</span>          print("\nHasta luego\n")</span>
      <span><span class="pr-n mr-3">14</span>          break</span>
      <span><span class="pr-n mr-3">15</span>      else:print("\nOpción no valida\n")</span>
      <span id="l5" class="linea-code"><span class="pr-n mr-3">16</span><span class="desactivate" id="l-5">main()</span></span>      
            </code>
          </pre>
        </div>

        <div id="botones-1" class="desactivate">
            <a href="#" class="btn botonYellow" id="explicar"><i class="fas
            fa-align-justify"></i> Explicar codigo</a>
        </div>
    </div>

    <!-- Desarrollo -->
    <div class="col-lg-5 mt-3 mx-auto bg-light" id="explicacion">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Desarrollo</h1>
        <div class="container code text-justify mt-2">
            <!-- #2 -->
            <div class="p-3 mt-3" id="1" style="width: 100%;">
                <div class="seleccion p-5" id="sel-1">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 2</h1>
                    <p class="text-justify mt-3 font-weight-bold">Se debe crear una lista vacía llamada libros que va
                        ser en la que se van a guardar todos los libros creados por el usuario, ¿Cómo se haría esto?</p>
                    <form action="" name="formulario1" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-1">
                            <option>Opciones</option>
                            <option>[]</option>
                            <option>libros = ['libros']</option>
                            <option>libros = []</option>
                            <option>libros[]</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-1">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Esta lista es similar a las de los anteriores proyectos, se crea con la intención de poder
                        guardar en ella unos <span class="pr-n">diccionarios</span> con la información de cada libro.
                    </p>
                </div>
            </div>
            <!-- #4 -->
            <div class="p-3 mt-3 desactivate" id="2" style="width: 100%;">
                <div class="seleccion p-5" id="sel-2">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 4</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se debe crear un ciclo <span class="pr">while</span> infinito para que no se cierre el programa hasta que el usuario lo
                        indique, ¿Cómo se crea un ciclo infinito?
                    </p>
                    <form action="" name="formulario2" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-2">
                            <option>Opciones</option>
                            <option>while():</option>
                            <option>for(True):</option>
                            <option>while:</option>
                            <option>while(True):</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-2">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        El <span class="pr">while</span>(<span class="pr-n">True</span>) permite realizar un ciclo infinito, este ciclo se cortara cuando el usuario de la
                        opción de salir, es decir la opción número 6
                    </p>
                </div>
            </div>
            <!-- #6 -->
            <div class="p-3 mt-3 desactivate" id="3" style="width: 100%;">
                <div class="seleccion p-5" id="sel-3">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 6</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Después de mostrar el menú, se debe capturar la opción que desea el usuario, esta debe guardarse
                        en una variable llamada <span class="pr">op</span> ¿Como se captura un dato por pantalla?
                    </p>
                    <form action="" name="formulario3" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-3">
                            <option>Opciones</option>
                            <option>op = int("Ingrese una opcion: ")</option>
                            <option>op = input("Ingrese una opcion: ")</option>
                            <option>op = int(input("Ingrese una opcion: "))</option>
                            <option>int(input("Ingrese una opcion: "))</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-3">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Es necesario utilizar la palabra reservada <span class="pr">int</span>, para convertir lo ingresado por el usuario en un
                        entero y así poder validarlo.
                    </p>
                </div>
            </div>
            <!-- #9 -->
            <div class="p-3 mt-3 desactivate" id="4" style="width: 100%;">
                <div class="seleccion p-5" id="sel-4">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 9</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se necesita validar si la opción ingresada por el usuario es decir <span class="pr">op</span>, es igual a 3, de ser así
                        se debe hacer una llamada a la función <span class="pr-n">eliminar_libros</span>, esta función recibe como parámetro la
                        lista de libros y retorna las misma lista de libros actualizada, ¿Que linea de código debería
                        venir aquí?
                    </p>
                    <form action="" name="formulario4" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-4">
                            <option>Opciones</option>
                            <option>elif(op==3):libros = eliminar_libros()</option>
                            <option>libros = eliminar_libros(libros)</option>
                            <option>elif(op==3):eliminar_libros(libros)</option>
                            <option>elif(op==3):libros = eliminar_libros(libros)</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-4">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Utilizando el <span class="pr">elif</span>, se puede validar una sentencia booleana, si la opción escogida por el
                        usuario es igual a 3 entonces es porque desea eliminar un libro de la lista de libros, esta
                        función se le envía por parámetro la lista de libros y devuelve la misma lista pero actualizada.
                    </p>
                </div>
            </div>
            <!-- #16 -->
            <div class="p-3 mt-3 desactivate" id="5" style="width: 100%;">
                <div class="seleccion p-5" id="sel-5">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 16</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Hay que hacer la llamada a la función principal para empezar el programa ¿Cómo se hace esto?
                    </p>
                    <form action="" name="formulario5" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-5">
                            <option>Opciones</option>
                            <option>main()</option>
                            <option>main</option>
                            <option>main:</option>
                            <option>main(libros)</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-5">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se hace el llamado a la función <span class="pr">main()</span> para poder iniciar el programa
                    </p>
                </div>
            </div>

            <div class="botones text-center mb-3">
                <button class="btn botonYellow" id="probar"><i class="fas
              fa-arrow-right"></i> Probar</button>
                <button class="btn botonBlue desactivate" id="siguiente"><i class="fas
              fa-arrow-right"></i> Seguir</button>
                <a id="reiniciar" href="./parte1" class="btn botonBlue" id="reiniciar"><i
                        class='fas fa-undo-alt mr-2'></i>
                    Reiniciar</a>
            </div>
        </div>
    </div>


    <!-- Explicación -->
    <div class="col-lg-6 mt-3 mx-auto bg-light desactivate" id="explicacionCode">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Explicación</h1>
        <div class="container code text-justify mt-2" id="explain-div">
            <pre>
          <code class="language-python" id="code-add">
  <span class=""><span class="pr-n mr-3">1</span>  Se crea la función main. Con la palabra reservada "def", acompañada del nombre que se le quiera dar se pude crear una función en Python.</span>
  <span class=""><span class="pr-n mr-3">2</span>  Creamos una variable fin y la igualamos a False. <br>  <span class="pr ml-4">NOTA</span>: esta variable es la que nos va a permitir manejar el ciclo while de la linea # 5</span>
  <span class=""><span class="pr-n mr-3">3</span>  Creamos una lista donde se van a guardar los empleados registrados, la lista se llamara "lista_empleados" para evitar confusiones a la hora del desarrollo</span>
  <span class=""><span class="pr-n mr-3">4</span>  Pedimos el capital de nomina con el que se va a trabajar.</span>
  <span class=""><span class="pr-n mr-3">5</span>  Creamos un ciclo while, que nos permite hacer un ciclo infinito, que solo se detendrá cuando el usuario escoja la opción 7 <br>  <span class="pr ml-4">NOTA</span>: El ciclo while se ejecutara siempre y cuando <span class="pr">fin</span> sea diferente de True</span>
  <span class=""><span class="pr-n mr-3">6</span>  Llamamos a la función "menu()" <br>  <span class="pr ml-4">NOTA</span>: Como se menciono anteriormente, la función menu() se creara en el apartado siguientes.</span>
  <span class=""><span class="pr-n mr-3">7</span>  Una vez se muestre el menú, le pediremos al usuario que escoja una opción mostrada. La opción ingresada por el usuario se guardara en la variable "opcion"</span>
  <span class=""><span class="pr-n mr-3">8</span>  validamos si "opcion" es igual a 1</span>
  <span class=""><span class="pr-n mr-3">9</span>  validamos si "opcion" es igual a 2</span>
  <span class=""><span class="pr-n mr-3">10</span>validamos si "opcion" es igual a 3</span>
  <span class=""><span class="pr-n mr-3">11</span>validamos si "opcion" es igual a 4</span>
  <span class=""><span class="pr-n mr-3">12</span>validamos si "opcion" es igual a 5</span>
  <span class=""><span class="pr-n mr-3">13</span>validamos si "opcion" es igual a 6</span>
  <span class=""><span class="pr-n mr-3">14</span>validamos si "opcion" es igual a 7</span>
  <span class=""><span class="pr-n mr-3">15</span>Si el usuario escogió la opción 7, se muestra un mensaje de despedida</span>
  <span class=""><span class="pr-n mr-3">16</span>Como se menciono en la linea 5, el ciclo infinito solo corre siempre y cuando <span class="pr">fin</span> sea diferente de True, para terminar el ciclo, se iguala <span class="pr">fin</span> a True</span>
  <span class=""><span class="pr-n mr-3">17</span>Validamos si ninguna de las opciones fue escogida, de ser así imprimimos por pantalla un mensaje de error</span>
  <span class=""><span class="pr-n mr-3">18</span>Se hace el llamado a la función <span class="pr">main()</span> ya creada.</span>
          </code>
        </pre>
        </div>
    </div>

</div>

<div style="margin-bottom: 10%;">

</div>

{% endblock content %}

{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/proyectos/proyecto3/part1.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()      
</script>
{% endblock scripts %}