{% extends 'base.html' %}

{% load static %}


{% block title %}
Proyecto3 parte - 6
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/partes.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/jquery-ui-git.js"> </script>
{% endblock styles %}


{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo" width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item desactivate" id="part2">
                <a class="nav-link" href="{% url 'proyecto3_app:part2' %}"><i class="fa fa-arrow-right"
                        aria-hidden="true"></i> Parte 7</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'proyecto3_app:proyecto3' %}"><i
                        class="fas fa-undo-alt mr-2"></i>Volver</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}


{% block content %}
<div class="container row mx-auto" id="statment">
    <!-- Enunciado -->
    <div class="col-lg-10 mx-auto text-center part-1 p-5 mt-3">
        <h1 class="title-modul"> Parte 6</h1>
        <hr>
        <p class="text-justify">
            Ya se han realizado las funciones de crear libros y de crear préstamos, ahora viene la parte de eliminar un
            libro de la lista de libros, esta función es la encargada de eliminar el libro especificado por el usuario
            de la lista de libros, la función recibe como parámetro la lista de libros,y retorna la misma lista de
            libros pero actualizada, es decir sin el libro que se acabo de eliminar.
        <h1 class="title-modul">¿Como se realizara?</h1>
        <hr>
        <p class="text-justify">
            Al igual que las funciones anteriores, esta se empieza pidiendo el isbn del libro a eliminar, después se
            declara una variable llamada índice, esta servirá para determinar cuál es el índice de la lista en la que
            está ubicado el libro a eliminar, luego con un ciclo for, se recorre la lista de libros por índice y se
            valida si el libro que está en la posición i, con el valor ‘isbn’ es igual al isbn que ingresó el usuario,
            de ser así la variable que se llamó índice, se iguala al índice en el que se encuentra el libro. Luego se
            validará que el índice sea diferente de -1, si esto se cumple significa que si hay un libro para eliminar,
            entonces se elimina de la lista el elemento el libro en la posición índice, si no se cumple la condición
            significa que no se encontro ningun libro con ese isbn y se imprime que no hay libro para eliminar, por
            último se retorna la lista de libros (actualizada dado el caso de que si se haya podido eliminar el libro).
        </p>

        <a class="btn btn-success mx-auto mt-3" href="#" id="go">Vamos a realizarlo</a>
    </div>
</div>
<div class="container row mx-auto mt-5 desactivate" id="codigo">
    <!-- Siguiente parte -->
    <div class="text-center col-lg-12 mx-auto my-5 desactivate" id="siguiente-ejercicio">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Felicitaciones
            <br> Puedes pasar a la siguiente parte</h1>
        <hr>

    </div>

    <!-- Codigo -->
    <div class="col-lg-6 mt-3 mx-auto bg-light">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Solución</h1>
        <div class="container code text-justify mt-2">
            <pre>
              <code class="language-python">
      <span><span class="pr-n mr-3">1</span>def eliminar_libros(libros):</span>
      <span><span class="pr-n mr-3">2</span>    isbn = int(input("Ingrese ISBN: "))</span>
      <span><span class="pr-n mr-3">3</span>    indice = -1</span>
      <span id="l1" class="linea-code"><span class="pr-n mr-3">4</span>    <span class="desactivate" id="l-1">for i in range(len(libros)):</span></span>
      <span><span class="pr-n mr-3">5</span>        if(libros[i]['isbn'] == isbn):indice = i</span>
      <span id="l2" class="linea-code"><span class="pr-n mr-3">6</span>    <span class="desactivate" id="l-2">if (indice != -1):</span></span>
      <span id="l3" class="linea-code"><span class="pr-n mr-3">7</span>        <span class="desactivate" id="l-3">libros.pop(indice)</span></span>
      <span><span class="pr-n mr-3">8</span>        print("Libro eliminado con exitp")</span>
      <span><span class="pr-n mr-3">9</span>    else:print("Libro no encontrado intente de nuevo")</span>
      <span id="l4" class="linea-code"><span class="pr-n mr-3">10</span>  <span class="desactivate" id="l-4">return libros</span></span>
            </code>
          </pre>
        </div>

        <div id="botones-1" class="desactivate">
            <a href="#" class="btn botonBlue" id="explicar"><i class="fas
            fa-align-justify"></i> Explicar codigo</a>
        </div>
    </div>

    <!-- Desarrollo -->
    <div class="col-lg-5 mt-3 mx-auto bg-light" id="explicacion">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Desarrollo</h1>
        <div class="container code text-justify mt-2">
            <!-- #4 -->
            <div class="p-3 mt-3" id="1" style="width: 100%;">
                <div class="seleccion p-5" id="sel-1">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 4</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se debe recorrer la lista libros con un ciclo for por índice ¿Cómo se haría esto?
                    </p>
                    <form action="" name="formulario1" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-1">
                            <option>Opciones</option>
                            <option>for i in range(len(libros)):</option>
                            <option>for i in range(libros):</option>
                            <option>for i in len(libros):</option>
                            <option>for i in libros:</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-1">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se utiliza la palabra reservada <span class="pr">range</span> para definir el rango en el que se
                        quiere realizar el
                        ciclo, en este caso iría desde el 0 hasta la longitud de la lista <span class="pr">libros</span>
                        (seria el total de
                        libros que se hayan ingresado hasta el momento.)
                    </p>
                </div>
            </div>
            <!-- #6 -->
            <div class="p-3 mt-3 desactivate" id="2" style="width: 100%;">
                <div class="seleccion p-5" id="sel-2">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 6</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se necesita validar que la variable <span class="pr">indice</span> que se declaró en la linea #
                        3, sea diferente de -1
                        ¿Como se puede validar?
                    </p>
                    <form action="" name="formulario2" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-2">
                            <option>Opciones</option>
                            <option>if (indice == -1):</option>
                            <option>if (indice):</option>
                            <option>if (indice != -1):</option>
                            <option>if (-1):</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-2">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        La variable <span class="pr">indice</span> se declaró con un valor de -1, si al recorrer la
                        lista con el ciclo <span class="pr">for</span>,
                        indice sigue valiendo -1 es porque no se ha encontrado ningún libro, de lo contrario fue que se
                        encontró.
                    </p>
                </div>
            </div>
            <!-- #7 -->
            <div class="p-3 mt-3 desactivate" id="3" style="width: 100%;">
                <div class="seleccion p-5" id="sel-3">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 7</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Si la condición anterior se cumple se debe eliminar de la lista de libros el libro encontrado
                        según la variable indice ¿Como se elimina de una lista?
                    </p>
                    <form action="" name="formulario3" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-3">
                            <option>Opciones</option>
                            <option>libros.pop(indice)</option>
                            <option>libros.remove(indice)</option>
                            <option>libros.add(indice)</option>
                            <option>libros.delete(indice)</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-3">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Si <span class="pr">indice</span> es diferente de -1, es porque su valor corresponde al índice
                        en la lista en el que se
                        encuentra el libro a eliminar, se le pasa como parámetro al método <span
                            class="pr">pop()</span>.
                    </p>
                </div>
            </div>
            <!-- #10 -->
            <div class="p-3 mt-3 desactivate" id="4" style="width: 100%;">
                <div class="seleccion p-5" id="sel-4">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Linea # 10</h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Por último se debe retornar la lista libros ¿Como se hace esto?
                    </p>
                    <form action="" name="formulario4" class="section-ejemplos mx-auto
              text-justify p-3" style="width: 75%;">
                        <select class="form-control form-control-lg" id="s-4">
                            <option>Opciones</option>
                            <option>return libros[indice]</option>
                            <option>return 1</option>
                            <option>return libros</option>
                            <option>return len(libros)</option>
                        </select>
                    </form>
                </div>
                <div class="seleccion p-5 desactivate" id="exp-4">
                    <h1 style="font-size: 30px;color: rgba(149, 165, 166,1);" class="text-center mt-2">Felicitaciones
                    </h1>
                    <p class="text-justify mt-3 font-weight-bold">
                        Se retorna la lista de libros, si el libro escogido por <span class="pr-n">isbn</span> existía entonces se elimina de la
                        lista de lo contrario, se devuelve la misma lista que se recibió
                    </p>
                </div>
            </div>

            <div class="botones text-center mb-3">
                <button class="btn botonBlue" id="probar"><i class="fas
              fa-arrow-right"></i> Probar</button>
                <button class="btn botonBlue desactivate" id="siguiente"><i class="fas
              fa-arrow-right"></i> Seguir</button>
                <a id="reiniciar" href="./parte6" class="btn botonBlue" id="reiniciar"><i
                        class='fas fa-undo-alt mr-2'></i>
                    Reiniciar</a>
            </div>
        </div>
    </div>


    <!-- Explicación -->
    <div class="col-lg-6 mt-3 mx-auto bg-light desactivate" id="explicacionCode">
        <h1 class="text-center mt-3 p-2 pr" style="font-size: 20px;">Explicación</h1>
        <div class="container code text-justify mt-2" id="explain-div">
            <pre>
          <code class="language-python" id="code-add">
  <span class=""><span class="pr-n mr-3">1</span>  Se crea la función main. Con la palabra reservada "def", acompañada del nombre que se le quiera dar se pude crear una función en Python.</span>
  <span class=""><span class="pr-n mr-3">2</span>  Creamos una variable fin y la igualamos a False. <br>  <span class="pr ml-4">NOTA</span>: esta variable es la que nos va a permitir manejar el ciclo while de la linea # 5</span>
  <span class=""><span class="pr-n mr-3">3</span>  Creamos una lista donde se van a guardar los empleados registrados, la lista se llamara "lista_empleados" para evitar confusiones a la hora del desarrollo</span>
  <span class=""><span class="pr-n mr-3">4</span>  Pedimos el capital de nomina con el que se va a trabajar.</span>
  <span class=""><span class="pr-n mr-3">5</span>  Creamos un ciclo while, que nos permite hacer un ciclo infinito, que solo se detendrá cuando el usuario escoja la opción 7 <br>  <span class="pr ml-4">NOTA</span>: El ciclo while se ejecutara siempre y cuando <span class="pr">fin</span> sea diferente de True</span>
  <span class=""><span class="pr-n mr-3">6</span>  Llamamos a la función "menu()" <br>  <span class="pr ml-4">NOTA</span>: Como se menciono anteriormente, la función menu() se creara en el apartado siguientes.</span>
  <span class=""><span class="pr-n mr-3">7</span>  Una vez se muestre el menú, le pediremos al usuario que escoja una opción mostrada. La opción ingresada por el usuario se guardara en la variable "opcion"</span>
  <span class=""><span class="pr-n mr-3">8</span>  validamos si "opcion" es igual a 1</span>
  <span class=""><span class="pr-n mr-3">9</span>  validamos si "opcion" es igual a 2</span>
  <span class=""><span class="pr-n mr-3">10</span>validamos si "opcion" es igual a 3</span>
  <span class=""><span class="pr-n mr-3">11</span>validamos si "opcion" es igual a 4</span>
  <span class=""><span class="pr-n mr-3">12</span>validamos si "opcion" es igual a 5</span>
  <span class=""><span class="pr-n mr-3">13</span>validamos si "opcion" es igual a 6</span>
  <span class=""><span class="pr-n mr-3">14</span>validamos si "opcion" es igual a 7</span>
  <span class=""><span class="pr-n mr-3">15</span>Si el usuario escogió la opción 7, se muestra un mensaje de despedida</span>
  <span class=""><span class="pr-n mr-3">16</span>Como se menciono en la linea 5, el ciclo infinito solo corre siempre y cuando <span class="pr">fin</span> sea diferente de True, para terminar el ciclo, se iguala <span class="pr">fin</span> a True</span>
  <span class=""><span class="pr-n mr-3">17</span>Validamos si ninguna de las opciones fue escogida, de ser así imprimimos por pantalla un mensaje de error</span>
  <span class=""><span class="pr-n mr-3">18</span>Se hace el llamado a la función <span class="pr">main()</span> ya creada.</span>
          </code>
        </pre>
        </div>
    </div>

</div>

<div style="margin-bottom: 10%;">

</div>

{% endblock content %}

{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/proyectos/proyecto3/part6.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()      
</script>
{% endblock scripts %}



