{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="{% static 'css/ejemplos.css' %}">
{% endblock styles %}

{% block title %}
Condición elif - ejemplo 6
{% endblock title %}

{% block headers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" class="mr-3" alt="logo" width="30">
        <span id="title-navabar">Python basado en proyectos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'estructuras_seleccion_app:celif' %}"><i class="fas fa-undo-alt mr-2"></i>Volver</a>
            </li>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}


{% block content %}
<!-- Enunciado -->
<div class="container row mx-auto mt-5" id="enunciado">
    <div class="col-lg-12 text-center my-3 mx-auto">
        <h1 class="">Ejemplo 6</h1>
    </div>
    <div class="col-lg-6 part-1 mx-auto mt-5 p-5" style="margin-bottom: 5%; height: 100%;">
        <h1 class="title-modul text-center my-3">Enunciado</h1>
        <div class="container">
            <p>
                Determinar la cantidad de dinero que recibirá un trabajador por concepto de las horas extras 
                trabajadas en una empresa, sabiendo que cuando las horas de trabajo exceden de 40, el resto 
                se consideran horas extras y que estas se pagan al doble de una hora normal cuando no exceden 
                de 8; si las horas extras exceden de 8 se pagan las primeras 8 al doble de lo que se pagan las
                horas normales y el resto al triple.
            </p>
        </div>
        <button class="btn btn-block botonBlue" id="start">Empezar</button>
    </div>
</div>
<!-- Codigo -->
<div class="container row mx-auto mt-5 desactivate" id="codigo">
    <div class="col-lg-5 mt-3 mx-auto bg-light">
        <h1 class="text-center mt-3 p-2" style="font-size: 20px;">Solución</h1>

        <div class="container code text-justify mt-2">
            <pre>
        <code class="language-python">
<span id="1"><span class="pr-n mr-3">1</span>horas = int(input("Ingrese el número de horas trabajadas: "))</span>
<span id="2"><span class="pr-n mr-3">2</span>valor = int(input("Ingrese el valor de la hora: "))</span>
<span id="3"><span class="pr-n mr-3">3</span>if horas <= 40:</span>
<span id="3"><span class="pr-n mr-3">4</span>    totalpagar = valor * horas</span>
<span id="3"><span class="pr-n mr-3">5</span>elif horas > 40:</span>
<span id="3"><span class="pr-n mr-3">6</span>   horasextras = horas - 40</span>
<span id="3"><span class="pr-n mr-3">7</span>   if horasextras <= 8:</span>
<span id="3"><span class="pr-n mr-3">8</span>       pagardobles = horasextras * valor * 2</span>
<span id="3"><span class="pr-n mr-3">9</span>       totalpagar = pagardobles</span>
<span id="3"><span class="pr-n mr-3">10</span>  elif horasextars > 8:</span>
<span id="3"><span class="pr-n mr-3">11</span>      pagardobles = 8 * valor * 2</span>
<span id="3"><span class="pr-n mr-3">12</span>      pagartriples = (horasextras - 8) * valor * 3</span>
<span id="3"><span class="pr-n mr-3">13</span>      totalpagar = pagardobles + pagartribles</span>
<span id="3"><span class="pr-n mr-3">14</span>  totalpagar = (40 * valor) + totalpagar</span>
<span id="3"><span class="pr-n mr-3">15</span>print("Al trabajador se le deben pagar "+totalpagar+"pesos.")</span>
        </code>
      </pre>
        </div>
        <!-- Datos -->
        <div class="container code mt-2 desactivate" id="date">
            <form class="mt-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="dato-1" placeholder="Ingrese el número de horas trabajadas:">
                </div>
                <div class="form-group desactivate" id="parent-1">
                    <input type="text" class="form-control" id="dato-2" placeholder="Ingrese el valor de la hora:">
                </div>
            </form>
        </div>

        <div class="container code mt-2 desactivate" id="output">
            <code>
        <span class="pr-n">Salida</span> <br>
        <span class="mt-2" id="salida" style="color: black;"></span>               
      </code>
        </div>

        <div class="my-5 text-justify" id="botones">
            <button id="ejecutar" class="btn btn-outline botonBlue"><i class="fas fa-play mr-2"></i> Ejecutar</button>
            <button id="seguir" class="btn btn-outline botonBlue desactivate"><i class="fas fa-play mr-2"></i>
                Seguir</button>
            <button id="explicar" class="btn btn-outline-success desactivate"><i class="fas fa-align-justify"></i>
                Explicar codigo</button>
            <a id="reiniciar" href="/elif-ejemplo6" class="btn btn-outline-success desactivate"><i class='fas fa-undo-alt mr-2'></i>
                Reiniciar</a>
        </div>

    </div>
    <!-- Explicación -->
    <div class="col-lg-5 mt-3 mx-auto bg-light desactivate" id="explicacion">
        <h1 class="text-center mt-3 p-2" style="font-size: 20px;">Explicación</h1>

        <div class="container code text-justify mt-2">
            <pre>
        <code class="language-python">
<span id=""><span class="pr-n mr-3">1</span>Se pide al usuario que ingrese el número de horas trabajadas por teclado.</span>
<span id=""><span class="pr-n mr-3">2</span>Se pide al usuario que ingrese el valor al que le pagan las horas trabajadas.</span>
<span id=""><span class="pr-n mr-3">3</span>Se pregunta si estas horas son menores o iguales a 40.</span>
<span id=""><span class="pr-n mr-3">4</span>De ser asi se calcula el valor total a pagar multiplicando el valor de las horas por las horas.</span>
<span id=""><span class="pr-n mr-3">5</span>Si no se cumple la condición anterior, entonces se pregunta si las horas trabajadas son mayores a 40.</span>
<span id=""><span class="pr-n mr-3">6</span>De ser asi, se calculan las horas extras restándole al número de horas ingresada, 40 horas.</span>
<span id=""><span class="pr-n mr-3">7</span>Luego, se pregunta si las horas extras son menores o iguales a 8.</span>
<span id=""><span class="pr-n mr-3">8</span>De ser asi, se calcula el doble de precio de las horas debido a que son horas extras.</span>
<span id=""><span class="pr-n mr-3">9</span>Se igual valor calculado al total a pagar.</span>
<span id=""><span class="pr-n mr-3">10</span>Si no se cumple la condición anterior, entonces se pregunta si las horas extras son mayores a 8 horas.</span>
<span id=""><span class="pr-n mr-3">11</span>De ser asi, se calculan las primeras 8 horas al doble de precio.</span>
<span id=""><span class="pr-n mr-3">12</span>Luego se calculan el resto de horas al doble de precio.</span>
<span id=""><span class="pr-n mr-3">13</span>Se calcula el total a pagar sumando las horas pagadas al doble y las horas pagadas al triple.</span>
<span id=""><span class="pr-n mr-3">14</span>Finalizando, se calcula el total a pagar sumando las horas pagdas al precio normal, con las horas pagadas al doble y al triple.</span>
<span id=""><span class="pr-n mr-3">15</span>Se imprime en pantalla el valor total que se le debe pagar al trabajador.</span>
        </code>
      </pre>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad()      
</script>
<script src="{% static 'js/elif/ejemplo6.js' %}"></script>
{% endblock scripts %}