{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/teoria-index.css' %}">        
{% endblock styles %}
    


{% block title %}
    Teoría de enseñanza de python    
{% endblock title %}


{% block headers %}
    {% include 'headers/header2.html' %}    
{% endblock headers %}
    

{% block content %}
    <!-- Part 1 -->
    <div class="container row mx-auto p-5 mt-5 part-1">
        <div class="col-lg-6 col-md-12 text-center mt-5">
            <h1 class="display-5">SOBRE TEORÍA</h1>
            <div class="text text-justify mt-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nihil eveniet, tempora praesentium ipsum nam, atque fugiat 
                    illo nesciunt eos expedita neque qui enim facilis, sapiente 
                    reprehenderit sequi debitis quae molestiae?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nihil eveniet, tempora praesentium ipsum nam, atque fugiat 
                    illo nesciunt eos expedita neque qui enim facilis, sapiente 
                    reprehenderit sequi debitis quae molestiae?
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 text-center mt-5">
            <div class="image">
                <img src="../../static/images/teoria-part-1.jpg" alt="python">
            </div>
        </div>
        <div class="col-lg-12 text-center mt-5">
            <h1 class="display-5 mt-5">PARA TENER EN CUENTA</h1>
            <div class="text text-justify mt-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Doloremque culpa unde impedit libero harum corrupti iure voluptatibus 
                    sed consequuntur quod, obcaecati blanditiis magni recusandae sequi inventore 
                    officia autem? Deleniti amet iste placeat reiciendis in obcaecati, 
                    earum molestiae blanditiis a? Quibusdam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Doloremque culpa unde impedit libero harum corrupti iure voluptatibus 
                    sed consequuntur quod, obcaecati blanditiis magni recusandae sequi inventore 
                    officia autem? Deleniti amet iste placeat reiciendis in obcaecati, 
                    earum molestiae blanditiis a? Quibusdam?
                </p>
            </div>
        </div>
    </div>

    <!-- Part2 modulos -->
    <div class="container row mx-auto p-5 mt-5 part-1">
        <div class="col-lg-12 text-center mt-5">
            <h1 class="display-5">MODULOS</h1>
        </div>
        <div class="col-lg-4 mt-5 text-center modul">
            <a href="{% url 'main_app:estructuras_de_secuencia' %}" class="modulos">
                <div class="img">
                    <img src="../../static/images/estructura_de_secuencia.png" alt="img" width="300">
                    <div class="text">
                        <h1 class="title-modul">Estructuras de Secuencia</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mt-5 text-center modul">
            <a href="" class="modulos">
                <div class="img">
                <img src="../../static/images/estructura_seleccion_simple.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Estructuras de Selección</h1>
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-4 mt-5 text-center modul">
            <a href="{% url 'repetitivas_app:repetitivas' %}" class="modulos">
                <div class="img">
                <img src="../../static/images/estructura-repetitiva.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Estructuras Repetitivas</h1>
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-4 mt-5 text-center modul">
            <a href="{% url 'estructuras_app:datos' %}" class="modulos">
                <div class="img">
                <img src="../../static/images/Diag_matrices.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Estructuras de Datos</h1>
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-4 mt-5 text-center modul">
            <a href="" class="modulos">
                <div class="img">
                <img src="../../static/images/Diag_funciones.png" alt="img" width="300">
                <div class="text">
                    <h1 class="title-modul">Funciones</h1>
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-4 mt-5 text-center modul">
            <a href="{% url 'graficos_app:graficos-index' %}" class="modulos">
                <div class="img">
                <img src="../../static/images/Graficos/index.png" alt="img" width="300" style=";">
                <div class="text">
                    <h1 class="title-modul">Graficos</h1>
                </div>
            </div>
            </a>
        </div>
    </div>
{% endblock content %}
    

    